{% include 'base.html' %}

{% block content %}
  <main class="p-4 sm:ml-64 overflow-auto">
    <h1 class="px-2 text-2xl font-bold text-blue-500 dark:text-white">User Change Password Form</h1>
    <!-- Breadcrumb -->
    <div class="flex items-center gap-2">
      <a href="{% url 'dashboard' %}" class="pl-2">Dashboard</a>
      <p class="text-2xl">
        &triangleright;
      </p>
      <a href="{% url 'user-list' %}">User List</a>
      <p class="text-2xl">
        &triangleright;
      </p>
      <a href="">User Change Password Form</a>
    </div>
    <!-- Analytics Card -->
    <div class="mx-2 my-4 flex justify-center">
        <div class="px-4 py-6 flex flex-col justify-center items-center gap-4 bg-white dark:bg-gray-700 shadow-lg md:w-3/4 w-full rounded-md">
          <h2 class="font-semibold text-xl">Change Password Data User</h2>
          <form action="" method="post" class="flex flex-col gap-2 md:w-3/4 w-full">
              {% csrf_token %}
              {% for field in form %}
                  <div class="flex flex-col">
                      {{ field.errors }}
                      {{ field.label_tag }} {{ field }}
                      {% if field.help_text %}
                        <p class="help text-xs" id="{{ field.auto_id }}_helptext">
                          {{ field.help_text|safe }}
                        </p>
                      {% endif %}
                  </div>
              {% endfor %}
              
              <input type="submit" value="Input Data" class="text-white p-2 bg-blue-500 rounded-md cursor-pointer hover:bg-fuchsia-500 my-4">
          </form>
        </div>
    </div>

  </main>
  
{% endblock content %}