{% extends 'base.html' %}

{% block content %}
<main class="p-4 sm:ml-64 overflow-auto">
    <h1 class="px-2 text-2xl font-bold text-blue-500 dark:text-white">Profile</h1>
    <!-- Breadcrumb -->
    <div class="flex items-center gap-2">
      <a href="{% url 'dashboard' %}" class="pl-2">Dashboard</a>
      <p class="text-2xl">
        &triangleright;
      </p>
      <a href="#">Profile</a>
    </div>

    {% if messages %}
    {% for message in messages %}
    <div class="m-2 flex justify-center">
      <div
        class="flex items-center p-4 mb-4 mx-2 text-sm text-green-800 border border-green-300 rounded-lg bg-green-50 dark:bg-gray-800 dark:text-green-400 dark:border-green-800"
        role="alert">
        <svg class="flex-shrink-0 inline w-4 h-4 me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
          fill="currentColor" viewBox="0 0 20 20">
          <path
            d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
        </svg>
        <span class="sr-only">Info</span>
        <div>
          <span class="font-medium">Success! {{message.message}}</span>
        </div>
      </div>
    </div>
    {% endfor %}
    {% endif %}
    
    <div class="my-6 grid grid-cols-1 md:grid-cols-3">
      <div class="m-2 p-4 border bg-white dark:bg-gray-800 rounded-md shadow-lg flex flex-col justify-evenly gap-2">
        <div class="flex justify-center">
          {% load thumbnail %}
          <img src="{{request.user.teacher.photo|thumbnail_url:'medium'}}" alt="Foto" class="rounded-md w-1/2">
        </div>
        <p class="text-xl text-balance text-center font-semibold">{{object_list.teacher_name|default:"-"}}</p>
        <p class="text-balance text-center">{{object_list.jabatan|default:"-"}}</p>
        <div class="mt-6 flex justify-center gap-2">
          <a href="{% url 'profile-update' request.user.teacher.id %}" class="p-2 my-2 bg-lime-300 hover:bg-fuchsia-400 dark:bg-slate-900 border text-center rounded-md">Ubah profil</a>
          <a href="{% url 'user-change-password' request.user.id %}" class="p-2 my-2 bg-lime-300 hover:bg-fuchsia-400 dark:bg-slate-900 border text-center rounded-md">Ubah Password</a>
        </div>
      </div>
      <div class="m-2 p-4 col-span-2 border bg-white dark:bg-gray-800 rounded-md shadow-lg">
        <p class="mb-3 text-xl font-semibold">Details</p>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-2">
          <p class="text-blue-500 dark:text-lime-500 font-bold">Nama Lengkap:</p>
          <p>{{object_list.teacher_name|default:"-"}}</p>
          <p class="text-blue-500 dark:text-lime-500 font-bold">NIY:</p>
          <p>{{object_list.niy|default:"-"}}</p>
          <p class="text-blue-500 dark:text-lime-500 font-bold">Email:</p>
          <p>{{object_list.email|default:"-"}}</p>
          <p class="text-blue-500 dark:text-lime-500 font-bold">No Handphone:</p>
          <p>{{object_list.phone|default:"-"}}</p>
          <p class="text-blue-500 dark:text-lime-500 font-bold">Jabatan:</p>
          <p>{{object_list.jabatan|default:"-"}}</p>
          <p class="text-blue-500 dark:text-lime-500 font-bold">Alamat:</p>
          <p>{{object_list.alamat|default:"-"}}</p>
        </div>
      </div>
    </div>

  </main>

{% endblock content %}