{% extends 'base.html' %}

{% block content %}
<main class="p-4 sm:ml-64 overflow-auto">
  <h1 class="px-2 text-2xl font-bold text-blue-500 dark:text-white">Student Private List</h1>
  <!-- Breadcrumb -->
  <div class="flex items-center gap-2">
    <a href="{% url 'dashboard' %}" class="pl-2">Dashboard</a>
    <p class="text-2xl">
      &triangleright;
    </p>
    <a href="{% url 'student-private' %}">Student Private List</a>
  </div>

  {% if messages %}
    {% for message in messages %}
    <div class="m-2 flex justify-center">
      <div
        class="flex items-center p-4 mb-4 mx-2 text-sm text-green-800 border border-green-300 rounded-lg bg-green-50 dark:bg-gray-800 dark:text-green-400 dark:border-green-800"
        role="alert">
        <svg class="flex-shrink-0 inline w-4 h-4 me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
          fill="currentColor" viewBox="0 0 20 20">
          <path
            d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
        </svg>
        <span class="sr-only">Info</span>
        <div>
          <span class="font-medium">Success! {{message.message}}</span>
        </div>
      </div>
    </div>
    {% endfor %}
  {% endif %}

  <div class="flex justify-end gap-2 pt-4 mx-2">
    <p></p>
    <form action="" method="get">
      <title for="month"></title>
      <select name="month" id="month" class="p-1 text-black rounded-md" aria-label="month" required>
        <option value>--Pilih Bulan--</option>
        <option value="1" {% if month == "1" %} selected {% endif %}>Januari</option>
        <option value="2" {% if month == "2" %} selected {% endif %}>Februari</option>
        <option value="3" {% if month == "3" %} selected {% endif %}>Maret</option>
        <option value="4" {% if month == "4" %} selected {% endif %}>April</option>
        <option value="5" {% if month == "5" %} selected {% endif %}>Mei</option>
        <option value="6" {% if month == "6" %} selected {% endif %}>Juni</option>
        <option value="7" {% if month == "7" %} selected {% endif %}>Juli</option>
        <option value="8" {% if month == "8" %} selected {% endif %}>Agustus</option>
        <option value="9" {% if month == "9" %} selected {% endif %}>September</option>
        <option value="10" {% if month == "10" %} selected {% endif %}>Oktober</option>
        <option value="11" {% if month == "11" %} selected {% endif %}>November</option>
        <option value="12" {% if month == "12" %} selected {% endif %}>Desember</option>
      </select>
      <title for="year"></title>
      <select name="year" id="year" class="p-1 text-black rounded-md" aria-label="year" required>
        <option value>--Pilih Tahun--</option>
        <option value="2024" {% if year == "2024" %} selected {% endif %}>2024</option>
        <option value="2025" {% if year == "2025" %} selected {% endif %}>2025</option>
        <option value="2026" {% if year == "2026" %} selected {% endif %}>2026</option>
        <option value="2027" {% if year == "2027" %} selected {% endif %}>2027</option>
        <option value="2028" {% if year == "2028" %} selected {% endif %}>2028</option>
        <option value="2029" {% if year == "2029" %} selected {% endif %}>2029</option>
        <option value="2030" {% if year == "2030" %} selected {% endif %}>2030</option>
      </select>
      <input type="submit" class="py-1 px-2 bg-green-500 rounded-md text-white" value="Filter">
    </form>
  </div>

  <div class="grid grid-cols-1">
    <!-- Analytics Table -->
    <div class="p-4 mx-2 my-4 bg-white dark:bg-slate-800 rounded-md shadow-lg overflow-auto">
      <div class="text-end mb-2">
        {% url 'student-private-download' as url_with_param %}
        <a href="{{url_with_param}}?month={{month}}&year={{year}}" class="p-2 bg-blue-500 rounded-md text-white">⬇️ Download</a>
      </div>
      {% if object_list %}
      <table class="table-auto border-collapse w-full">
        <caption class="mb-4 text-xl font-semibold">Data Private Santri</caption>
        <thead>
          <th class="p-2 border border-gray-400 bg-blue-100 text-black">No</th>
          <th class="p-2 border border-gray-400 bg-blue-100 text-black">Nama</th>
          <th class="p-2 border border-gray-400 bg-blue-100 text-black">Kelas</th>
          <th class="p-2 border border-gray-400 bg-blue-100 text-black">Privat</th>
        </thead>
        <tbody>
          {% for object in filtered_object_list %}
          <tr>
            <td class="p-2 border border-gray-400 text-center">{{forloop.counter}}</td>
            <td class="p-2 border border-gray-400">{{object.student_name}}</td>
            <td class="p-2 border border-gray-400 text-center">{{object.student_class|default:"-"}}</td>
            <td class="p-2 border border-gray-400 text-end">
              {% for obj in object.filtered_private_set.all %}
                <p>{{obj.pelajaran}} ({{obj.tanggal_bimbingan|date:"j F Y"}})</p>
              {% endfor %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% else %}
      <p class="text-red-500 text-center font-bold">Maaf, belum ada data tersedia</p>
      {% endif %}
    </div>
  </div>

  {% if page_obj %}
  <div class="flex mx-2 justify-center gap-2">
    <span class="step-links">
      {% if page_obj.has_previous %}
      <a href="?page={{ page_obj.previous_page_number }}" class="p-1 text-blue-500 bg-gray-100 rounded-md">&laquo;
        prev</a>
      {% endif %}

      <span class="">
        page {{page_obj.number}} of {{page_obj.paginator.num_pages}}.
      </span>

      {% if page_obj.has_next %}
      <a href="?page={{ page_obj.next_page_number }}" class="p-1 text-blue-500 bg-gray-100 rounded-md">next &raquo;</a>
      {% endif %}
    </span>
  </div>
  {% endif %}
  

</main>
{% endblock content %}