{% include 'base.html' %}

{% block content %}
  <main class="p-4 sm:ml-64 overflow-auto">
    <h1 class="px-2 text-2xl font-bold text-blue-500 dark:text-white">Nilai {{form_name}} Form</h1>
    <!-- Breadcrumb -->
    <div class="flex items-center gap-2">
      <a href="{% url 'dashboard' %}" class="pl-2">Dashboard</a>
      <p class="text-2xl">
        &triangleright;
      </p>
      <a href="{% url 'nilai-list' %}">Nilai List</a>
      <p class="text-2xl">
        &triangleright;
      </p>
      {% if form_name == "Create" %}
      <a href="{% url 'nilai-create' %}">Nilai {{form_name}} Form</a>
      {% else %}
      <a href="">Nilai {{form_name}} Form</a>
      {% endif %}
    </div>
    <!-- Analytics Card -->
    <div class="mx-2 my-4 flex justify-center">
        <div class="px-4 py-6 flex flex-col justify-center items-center gap-4 bg-white dark:bg-gray-700 shadow-lg md:w-3/4 w-full rounded-md">
          {% if messages %}
          {% for message in messages %}
          {% if message.tags == "success" %}
          <div class="flex items-center p-4 mb-4 mx-2 text-sm text-green-800 border border-green-300 rounded-lg bg-green-50 dark:bg-gray-800 dark:text-green-400 dark:border-green-800" role="alert">
            <svg class="flex-shrink-0 inline w-4 h-4 me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
              <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
            </svg>
            <span class="sr-only">Info</span>
            <div>
              <span class="font-medium">Success!</span> {{message.message}}
              <p class="m-2">Silahkan lihat hasilnya <a href="{% url 'nilai-list' %}" class="p-1 rounded-md bg-green-500 text-white font-bold">di sini</a></p>
            </div>
          </div>
          {% else %}
          <div class="flex items-center p-4 mb-4 mx-2 text-sm text-red-800 border border-red-300 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400 dark:border-red-800" role="alert">
            <svg class="flex-shrink-0 inline w-4 h-4 me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
              <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
            </svg>
            <span class="sr-only">Info</span>
            <div>
              <span class="font-medium">Error!</span> {{message.message}}
            </div>
          </div>
          {% endif %}
          {% endfor %}
          {% endif %}
          <h2 class="font-semibold text-xl">{{form_name}} Data Nilai</h2>
          <form action="" method="post" class="flex flex-col gap-2 md:w-3/4 w-full">
            {% csrf_token %}

            <fieldset>  
              
              <select name="extracurricular" id="extracurricular" class="w-full my-6 rounded-md text-black px-2 py-1 border-2 border-blue-500 dark:border-none shadow-lg" required>
                <option value>------Pilih Ekstrakurikuler/SC-------</option>
                {% for object in extracurricular %}
                <option value="{{object.id}}">{{object}}</option>
                {% endfor %}
              </select>
              <div class="grid grid-cols-1 md:grid-cols-3 gap-2" id="student_list">
              <!-- <select name="student{{forloop.counter}}" aria-readonly="true" id="student{{object.id}}" class="col-span-2 rounded-md text-black px-2 py-1 border-2 border-blue-500 dark:border-none shadow-lg" required>
                <option value="{{object.id}}">{{object}} aaaa</option>
              </select> -->
              <!-- <select name="score{{forloop.counter}}" id="score{{object.id}}" class="rounded-md text-black px-2 py-1 border-2 border-blue-500 dark:border-none shadow-lg">
                <option value >Pilih Nilai {{object.student_name|title|truncatechars:15}}</option>
                <option value="A">A</option>
                <option value="B">B</option>
                <option value="C">C</option>
              </select> -->
            </div>

          </fieldset>
              
              <input type="submit" id="submit" value="Input Data" class="text-white p-2 bg-blue-500 rounded-md cursor-pointer hover:bg-fuchsia-500 my-4">
              <div id="loading" class="hidden flex gap-4 justify-center items-center text-white p-2 bg-blue-500 rounded-md cursor-pointer my-4">
                <div class="loader"></div>
                <p>Loading ...</p>
              </div>
            </form>
        </div>
    </div>

  </main>

  {% include 'loader.html' %}

<script>
  document.getElementById('extracurricular').addEventListener('change', function() {
      const firstSelectValue = this.value;
      const studentList = document.getElementById('student_list');

      studentList.innerText = ''

      // URL for the API request (replace with your actual API endpoint)
      // const apiUrl = `http://127.0.0.1:8000/extracurriculars/get-members/?query=${firstSelectValue}`;
      const apiUrl = `https://pmbp.albinaa.sch.id/extracurriculars/get-members/?query=${firstSelectValue}`;

      const scoreList = ["A", "B", "C"]
      // Fetch options from the API
      fetch(apiUrl)
          .then(response => response.json())
          .then(students => {
              students.forEach((student, index, arr) => {
                  
                  const studentInput = document.createElement("input");
                  studentInput.type = "hidden"
                  studentInput.readOnly = true
                  studentInput.id = student.id;
                  studentInput.name = `student${index+1}`;
                  studentInput.value = student.id;
                  const studentLabel = document.createElement("label");
                  studentLabel.className = "col-span-2 rounded-md text-black px-2 py-1 border-2 border-blue-500 dark:border-none shadow-lg"
                  studentLabel.htmlFor = student.id
                  studentLabel.innerText = `(${student.student_class}) ${student.student_name}`;

                  if(student.id !== null){
                    const studentScoreSelect = document.createElement("select");
                    studentScoreSelect.className = "rounded-md text-black px-2 py-1 border-2 border-blue-500 dark:border-none shadow-lg"
                    studentScoreSelect.htmlFor = student.id
                    studentScoreSelect.name = `score${index+1}`;
                    studentScoreSelect.id = `score${student.id}`;
  
                    scoreList.forEach((score)=>{
                      const studentScore = document.createElement("option");
                      studentScore.value = score
                      studentScore.innerText = score
                      studentScoreSelect.appendChild(studentScore)
                    })
                    
                    studentList.appendChild(studentLabel);
                    studentList.appendChild(studentInput);
                    studentList.appendChild(studentScoreSelect);
                  }

                });
          })
          .catch(error => {
              console.error('Error fetching options:', error);
              // Handle errors here
          });
  });

</script>
  
{% endblock content %}