{% extends 'base.html' %}

{% block content %}
<main>
    <div class="container mt-5 py-5">
        {% if messages %}
            {% for message in messages %}
                {% if message.tags == 'success' %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                            {{ message }}
                    <a href="{% url 'ekskul:data-detail' ekskul.slug %}" class="btn btn-sm btn-primary">Lihat Daftar</a>
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% else %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            {{ message }}
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endif %}
            {% endfor %}
        {% endif %}
        <div class="d-flex justify-content-center">
            <form action="" method="post">
                {% csrf_token %}
                <!--{% if messages %}-->
                <!--    <ul class="messages text-danger fw-bold">-->
                <!--        {% for message in messages %}-->
                <!--            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>-->
                <!--        {% endfor %}-->
                <!--    </ul>-->
                <!--{% endif %}-->
                <div class="card" style="min-width: 18rem;">
                    <div class="card-header bg-dark text-light">
                        Input Anggota Ekskul {{ ekskul.nama_ekskul }}
                    </div>
                    <div class="card-body">
                         <div class="d-block m-3 fw-bold">
                            <label for="id_ekskul_siswa">Ekskul siswa:</label>
                            <select name="ekskul_siswa" class="form-control" required id="id_ekskul_siswa">
                                <option value="{{ ekskul.id }}">{{ ekskul.nama_ekskul}}</option>
                            </select>
                        </div>
                        <div class="d-block m-3">
<!--                            <label for="input-anggota" class="fw-bold">Nama siswa:</label>-->
                            {{ form.as_p }}
                        </div>

                        <div class="d-block mt-3 fw-bold text-center">

                            <a href="{% url 'ekskul:data-index' %}" class="card-link btn btn-danger">Kembali</a>
                            <input type="submit" class="card-link btn btn-success" value="Save Data">
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>
</main>

<script>
    $(document).ready(function () {
      $('#input-anggota').selectize({
          sortField: 'text'
      });
  });
</script>
{% endblock %}