{% extends 'base.html' %}

{% block content %}
    {% load humanize %}
    <div class="mt-5 pt-4 text-center">
        <h1 class="m-3">Data Nota/Invoice Inventaris {{ data.barang }}</h1>
        <a href="{% url 'inventaris:inventaris-index' %}" class="btn btn-danger">Kembali</a>
        <a href="{% url 'inventaris:inventaris-invoice-edit' data.id %}" class="btn btn-success">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
            </svg>
            Edit Nota Inventaris
        </a>
        <a href="{% url 'inventaris:inventaris-invoice-delete' data.id %}" class="btn btn-danger">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
            </svg>
            Hapus Nota Inventaris
        </a>
    </div>

    <div class="container">
        <table class="table table-hover w-100">
            <tbody>
            {% if data %}
                <tr>
                    <td>Nama Barang</td>
                    <td class="text-end">:</td>
                    <td>{{ data.barang }}</td>
                </tr>
                <tr>
                    <td>Nota Barang</td>
                    <td class="text-end">:</td>
                    <td>
                        <a class="btn btn-sm btn-warning m-2" href="{{ data.foto_nota.url }}" target="_blank">
                            <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor" class="bi bi-arrow-down-circle" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V4.5z"/>
                            </svg>
                            Nota barang
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>Tanggal Pencatatan Data</td>
                    <td class="text-end">:</td>
                    <td>{{ data.created_at|date:"j F Y" }}</td>
                </tr>
                <tr>
                    <td>Tanggal Update Data</td>
                    <td class="text-end">:</td>
                    <td>{{ data.updated_at|date:"j F Y" }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5" class="text-center fw-bold text-danger">Maaf, belum ada data inventaris :(</td>
                </tr>
            {% endif %}
            </tbody>
        </table>
    </div>

{% endblock %}