{% extends 'base.html' %}
{% block content %}
    <div class="container-fluid mt-5 p-5">
        <div class="w-100 h-100 d-flex justify-content-center">
            <form action="" method="post" id="form" enctype="multipart/form-data">
                {% csrf_token %}
                {% if messages %}
                    <ul class="messages text-danger fw-bold">
                        {% for message in messages %}
                            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <div class="card" style="min-width: 18rem;">
                    <div class="card-header text-bg-dark text-center">
                        Input Laporan Kehadiran Ekskul {{ ekskul.nama_ekskul }}
                    </div>
                    <div class="card-body">
                        {% if filtered_student %}

                            <p class="field">
                                <label for="id_nama_ekskul">Nama ekskul:</label>
                                <select name="nama_ekskul" required id="id_nama_ekskul" class="form-control">
                                    <option value="{{ ekskul.id }}">{{ ekskul.nama_ekskul }}</option>
                                </select>
                            </p>
                            <p class="field">
                                <label for="id_pembina_ekskul">Pembina Ekskul:</label>
                                <select name="pembina_ekskul" required id="id_pembina_ekskul" class="form-select">
                                    {% for guru in ekskul.pembina.all %}
                                        <option value="{{ guru.id }}">{{ guru }}</option>
                                    {% endfor %}
                                </select>
                            </p>
                            <p class="field">
                                <label for="id_tanggal_pembinaan">Tanggal Pembinaan:</label>
                                <input type="date" name="tanggal_pembinaan" required id="id_tanggal_pembinaan" class="form-control">
                            </p>
                            <p class="field">
                                <label for="id_kehadiran_santri">Kehadiran santri:</label>
                                <select name="kehadiran_santri" required id="id_kehadiran_santri" multiple class="form-control">
                                    {% for student in filtered_student %}
                                        <option value="{{ student.id }}">{{ student.siswa }}</option>
                                    {% endfor %}
                                </select>
                            </p>
                            <p class="field">
                                <label for="id_catatan_pembinaan">Foto Pembinaan:</label>
                                {{ form.foto }}
                            </p>
                            <p class="field">
                                <label for="id_foto">Catatan Pembinaan:</label>
                                {{ form.catatan_pembinaan }}
                            </p>

                        {% else %}
                            <p class="text-danger ">Maaf, Silahkan input data anggota ekskul terlebih dahulu agar anda dapat input laporan. Terima kasih. :)</p>
                        {% endif %}

                    </div>
                    <div class="card-footer text-center">
                        {% if filtered_student %}
                            <a id="back" href="{% url 'laporan:laporan-index' %}" class="card-link btn btn-danger m-1">Kembali</a>
                            <input onsubmit="myFunction()" id="save" type="submit" class="card-link btn btn-success m-1" value="Save Data">
                            <button id="loading" class="btn btn-success" type="button" style="display: none" disabled>
                                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                Loading...
                            </button>
                        {% else %}
                            <a href="{% url 'laporan:laporan-index' %}" class="card-link btn btn-danger m-1">Kembali</a>
                            <a href="{% url 'ekskul:input-anggota' ekskul.slug %}" class="card-link btn btn-primary m-1">Input Anggota {{ ekskul.nama }}</a>
                        {% endif %}
                    </div>
                </div>
            </form>
        </div>
    </div>

{% include 'script.html' %}
{% endblock %}