{% extends 'new_base.html' %}
{% block content %}
{% load static %}
{% include 'new_navbar.html'%}
{% include 'new_sidebar.html'%}

<main id="main" class="main">
    <section class="section dashboard">
      <div class="pagetitle">
        <h1 class="text-center">Detail {{object.get_tipe_display}}</h5>
        <nav>
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{% url 'dashboard' %}"><i class="bi bi-house"></i> Home</a></li>
              <li class="breadcrumb-item">{{object.get_tipe_display}}</li>
              <li class="breadcrumb-item active">{{object.nama_ekskul}}</li>
            </ol>
        </nav>
      </div>
        <div class="row">
  
          <!-- Left side columns -->
          <div class="col-lg-12">
            <div class="row">
  
              <!-- Sales Card -->
              <div class="col-xxl-4 col-md-6">
                <div class="card info-card sales-card">
  
                  <div class="card-body">
                    <h1 class="card-title">Logo {{object.nama_ekskul}}</h1>
                    <img src="{{ object.logo.url }}" alt="Logo Ekskul" style="max-height: 10rem; max-width: 10rem;">    
                  </div>
  
                </div>
              </div><!-- End Sales Card -->
  
              <!-- Revenue Card -->
              <div class="col-xxl-4 col-md-6">
                <div class="card info-card revenue-card">
  
                  <div class="card-body">
                    <h1 class="card-title">{{ object.nama_ekskul }}</h1>
        
                    {% for pembina in object.pembina.all %}
                    <p>Ustadz {{ pembina.nama_pembina }}</p>
                    {% if request.user.is_authenticated %}
                      <p>{{ pembina.email }}</p>
                      {% if pembina.no_hp %}
                      <p>{{ pembina.no_hp }}</p>
                      {% else %}
                      <p class="text-danger">No. hp belum ada</p>
                      {% endif %}
                    {% endif %}
                    <hr>
                    {% endfor %}

                    <p>Jadwal pertemuan: {{ object.jadwal}} {{ object.waktu }}</p>
                    {% if object.deskripsi %}
                    <p class="card-text p-0 m-0">{{ object.deskripsi }}</p>
                    {% endif %} 

                  </div>
  
                </div>
              </div><!-- End Revenue Card -->
  
              <!-- Customers Card -->
              <div class="col-xxl-4 col-xl-12">
  
                <div class="card info-card customers-card">
  
                  <div class="card-body">
                    <h5 class="card-title">Jumlah Siswa</span></h5>
  
                    <div class="d-flex align-items-center">
                      <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                        <i class="bi bi-people"></i>
                      </div>
                      <div class="ps-3">
                        <h6>{{object.studentorganization_set.count}}</h6>
  
                      </div>
                    </div>
  
                  </div>
                </div>
  
              </div><!-- End Customers Card -->
  
  
              <div class="col-12">
                <div class="card recent-sales overflow-auto">
  
                  <div class="card-body">
                    <h5 class="card-title">Daftar Anggota {{object.nama_ekskul}}</span></h5>
  
                    <table class="table table-borderless" id="anggota-ekskul">
                      <thead>
                        <tr>
                          <th scope="col">No</th>
                          <th scope="col">Nama</th>
                          {% if request.user.is_authenticated %}
                          <th scope="col">Kelas</th>
                          <th scope="col">Aksi</th>
                          {% else %}
                          <th scope="col">NIS</td>
                          <th scope="col">Kelas</th>
                          {% endif %}
                        </tr>
                      </thead>
                      <tbody>
                        {% if object.studentorganization_set.all %}
                        {% for student in anggota %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td class="text-start">{{ student.siswa.nama_siswa}}</td>
                            {% if not request.user.is_authenticated %}
                            <td>{{ student.siswa.nis}}</td>
                            {% endif %}
                            <td>{{ student.siswa.get_kelas_display }}</td>
                            {% if request.user.is_authenticated %}
                            <td><a href="{% url 'ekskul:delete-anggota' object.slug student.siswa.pk %}" class="btn btn-sm btn-danger">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                    <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                </svg>
                            </a></td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                        {% else %}
                        <tr>
                            <td colspan="4" class="text-center fw-bold text-danger">Data tidak ditemukan</td>
                        </tr>
                        {% endif %} 
                      </tbody>
                    </table>
                  </div>
  
                </div>
              </div><!-- End Recent Sales -->
                
            </div>
          </div><!-- End Left side columns -->
  
          
  
        </div>
      </section>

</main>
<script type="module">
  const dataTable = new simpleDatatables.DataTable("#anggota-ekskul", {
          searchable: true,
          fixedHeight: true,
      });
</script>
{% endblock %}