{% extends 'base.html' %}

{% block content %}


    <div class="mt-5 p-4 text-center">
        <h1>Data OSN 2023 SMA IT Al Binaa</h1>
        {% if request.user.is_superuser %}
            <a href="{% url 'osn:bidang-osn-input' %}" class="btn btn-sm btn-dark">Input Bidang</a>
        {% endif %}
    </div>

    <div class="container">
        <div class="text-center">
            {% if data %}
                {% for datum in data %}
                    <div class="card border-primary d-inline-flex text-start m-2" style="width: 18rem; height: 100%;">
                        <div class="card-header text-bg-primary text-center fw-bold">
                            {{ datum }}
                        </div>
                        <div class="card-body">
                            <h5 class="card-title text-primary">{{ datum.nama }}</h5>
                            <h6 class="card-subtitle mb-2">Ustadz {{ datum.pembimbing }}</h6>
                            <p class="card-text p-0 m-0">Jumlah siswa OSN : {{ datum.siswaosn_set.count }}</p>
                            <p class="card-text p-0 m-0">Jumlah laporan OSN : {{ datum.laporanosn_set.count }}</p>
                            <p class="p-0 m-0">Jadwal Pertemuan: {{ datum.jadwal_bimbingan }}</p>
                        </div>
                        <div class="card-footer border-primary text-center">
                            {% if request.user.is_authenticated %}
                                {% if request.user.is_superuser %}
                                    <a href="{% url 'osn:bidang-osn-edit' datum.id %}" class="btn btn-sm btn-warning m-1">Edit</a>
                                    <a href="{% url 'osn:bidang-osn-delete' datum.id %}" class="btn btn-sm btn-danger m-1">Delete</a>
                                    <a href="{% url 'osn:detail-bidang-osn' datum.slug %}" class="btn btn-sm btn-info m-1">Detail Bidang</a>
                                    <a href="{% url 'osn:siswa-osn-input' datum.slug %}" class="btn btn-sm btn-success m-1">Input siswa OSN</a>
                                    <a href="{% url 'osn:laporan-osn-input' datum.slug %}" class="btn btn-sm btn-secondary m-1">Input laporan OSN</a>
                                    <a href="{% url 'osn:laporan-osnk-print' datum.slug %}" class="btn btn-sm btn-primary m-1">Cetak Laporan OSN-K</a>
                                    <a href="{% url 'osn:laporan-osnp-print' datum.slug %}" class="btn btn-sm btn-primary m-1">Cetak Laporan OSN-P</a>
                                {% elif request.user.teacher == datum.pembimbing %}
                                    <a href="{% url 'osn:detail-bidang-osn' datum.slug %}" class="btn btn-sm btn-info m-1">Detail Bidang</a>
                                    <a href="{% url 'osn:bidang-osn-edit' datum.id %}" class="btn btn-sm btn-warning m-1">Edit Bidang</a>
                                    <a href="{% url 'osn:siswa-osn-input' datum.slug %}" class="btn btn-sm btn-success m-1">Input siswa OSN</a>
                                    <a href="{% url 'osn:laporan-osn-input' datum.slug %}" class="btn btn-sm btn-secondary m-1">Input laporan OSN</a>
                                    <a href="{% url 'osn:laporan-osnk-print' datum.slug %}" class="btn btn-sm btn-primary m-1">Cetak Laporan OSN-K</a>
                                    <a href="{% url 'osn:laporan-osnp-print' datum.slug %}" class="btn btn-sm btn-primary m-1">Cetak Laporan OSN-P</a>
                                {% else %}
                                    <a href="{% url 'osn:detail-bidang-osn' datum.slug %}" class="btn btn-sm btn-info m-1">Detail Bidang OSN</a>
                                    <a href="{% url 'osn:laporan-osnk-print' datum.slug %}" class="btn btn-sm btn-primary m-1">Cetak Laporan OSN-K</a>
                                    <a href="{% url 'osn:laporan-osnp-print' datum.slug %}" class="btn btn-sm btn-primary m-1">Cetak Laporan OSN-P</a>
                                {% endif %}
                            {% else %}
                                <a href="{% url 'osn:detail-bidang-osn' datum.slug %}" class="btn btn-sm btn-info m-1">Detail Bidang OSN</a>
                                <a href="{% url 'osn:laporan-osnk-print' datum.slug %}" class="btn btn-sm btn-primary m-1">Cetak Laporan OSN-K</a>
                                <a href="{% url 'osn:laporan-osnp-print' datum.slug %}" class="btn btn-sm btn-primary m-1">Cetak Laporan OSN-P</a>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>

{% endblock %}