{% extends 'base.html' %}

{% block content %}
    <section id="userlog" class="container vw-100 vh-100 pt-4">
    <div class="list-group mt-5 pt-2">
        {% for log in logs %}
            <a href="#" class="list-group-item list-group-item-action" aria-current="true">
                <h6 class="mb-1">{{ log.user }}</h6>
                <small>{{ log.created_at }} ({{ log.created_at|timesince }} yang lalu)</small>
                <p class="mb-1">{{ log.message }}</p>
            </a>
        {% endfor %}
    </div>
</section>
{% endblock %}