{% extends 'base.html' %}

{% block content %}
  <main class="p-4 sm:ml-64 overflow-auto">
    <h1 class="px-2 text-2xl font-bold text-blue-500 dark:text-white">Alumni Delete</h1>
    <!-- Breadcrumb -->
    <div class="flex items-center gap-2">
      <a href="{% url 'dashboard' %}" class="pl-2">Dashboard</a>
      <p class="text-2xl">
        &triangleright;
      </p>
      <a href="#">Alumni Delete</a>
    </div>
    </div>
    <!-- Analytics Card -->
    <div class="mx-2 my-4 flex justify-center">
        <div class="px-4 py-6 flex flex-col justify-center items-center gap-4 bg-white dark:bg-gray-700 shadow-lg md:w-3/4 w-full rounded-md">
            <h2 class="font-semibold text-xl">Hapus Data Alumni</h2>
            <form action="" method="post" class="flex flex-col gap-2 items-center md:w-1/2 w-full">
              {% csrf_token %}
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-16 text-red-500">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126ZM12 15.75h.007v.008H12v-.008Z" />
                </svg>
                
                <p>Apakah kamu yakin ingin menghapus data {{object.name}} angkatan {{object.group|default:'-'}} ?</p>
                
                <input type="submit" value="Hapus Data" class="text-white p-2 bg-red-500 rounded-md cursor-pointer hover:bg-orange-500 my-4">
            </form>
        </div>
    </div>

  </main>
  
{% endblock content %}