{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>ALUMNI SMAS IT AL BINAA</title>
  <meta content="Data Alumni SMAS IT Al Binaa" name="description" />
  <meta
    content="Humas SMA IT AL Binaa, SMAS IT AL Binaa, Humas & PT SMA IT AL Binaa, Alumni"
    name="keywords" />
  <link rel="canonical" href="https://pmbp.smasitalbinaa.com/alumni/" />
  <meta property="og:locale" content="en_US" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="ALUMNI SMAS IT AL BINAA" />
  <meta property="og:url" content="https://pmbp.smasitalbinaa.com/alumni/" />
  <meta property="og:site_name" content="SMAS IT AL BINAA IBS" />
  <link href="{% static 'img/favicon.png' %}" rel="icon" />
  <link href="{% static 'img/apple-touch-icon.png' %}" rel="apple-touch-icon" />
  <link rel="stylesheet" href="{% static 'css/build.css' %}">
</head>

<body class="bg-gray-100 dark:bg-black dark:text-gray-200">
    {% include 'alumni/alumni_header.html' %}
    {% include 'alumni/alumni_sidebar.html' %}

    {% block content %}
    {% endblock content %}

  <script src="{% static 'js/dashboard.js' %}"></script>
</body>

</html>