{% extends 'base.html' %}

{% block content %}
<main class="p-4 sm:ml-64 overflow-auto">
  <h1 class="px-2 text-2xl font-bold text-blue-500 dark:text-white">Schedule View</h1>
  <!-- Breadcrumb -->
  <div class="flex items-center gap-2">
    <a href="{% url 'dashboard' %}" class="pl-2">Dashboard</a>
    <p class="text-2xl">
      &triangleright;
    </p>
    <a href="{% url 'schedule-list' %}">Schedule List</a>
    <p class="text-2xl">
      &triangleright;
    </p>
    <a href="{% url 'schedule-view' %}">Schedule View</a>
  </div>

  {% include 'components/messages.html' %}


  <div class="block md:flex justify-center m-2 gap-2 text-balance text-center">
    <a href="{% url 'report-quick-create-v3' %}"><p class="p-1 px-2 my-2 bg-blue-500 text-white rounded-md font-semibold">&#128195; Lihat Laporan</p></a>
    <a href="{% url 'schedule-upload' %}"><p class="p-1 px-2 my-2 bg-lime-500 text-white rounded-md font-semibold">&#128229; Import Excel</p></a>
    <a href="{% url 'schedule-download' %}"><p class="p-1 px-2 my-2 bg-green-500 text-white rounded-md font-semibold">&#128196; Export to Excel</p></a>
    <a href="{% url 'dashboard-teachers' %}"><p class="p-1 px-2 my-2 bg-blue-500 text-white rounded-md font-semibold">&#128195; Rekap Kehadiran Guru</p></a>
  </div>
  
  <div class="p-2 flex justify-center items-center">
    <form action="" method="get" class="flex justify-center items-center flex-wrap">
      <label for="query_type"></label>
      <select name="query_type" id="query_type" class="border border-blue-500 rounded-md py-1 m-1 px-2 text-black">
        <option value="code" {% if query_type == "code" %} selected {% endif %}>Tampilkan menurut Kode</option>
        <option value="mapel" {% if query_type == "mapel" %} selected {% endif %}>Tampilkan menurut Mapel</option>
        <option value="pengajar" {% if query_type == "pengajar" %} selected {% endif %}>Tampilkan menurut Guru</option>
      </select>
      <label for="query_day"></label>
      <select name="query_day" id="query_day" class="border border-blue-500 rounded-md py-1 m-1 px-2 text-black">
        <option value="Senin" {% if query_day == "Senin" %} selected {% endif %}>Senin</option>
        <option value="Selasa" {% if query_day == "Selasa" %} selected {% endif %}>Selasa</option>
        <option value="Rabu" {% if query_day == "Rabu" %} selected {% endif %}>Rabu</option>
        <option value="Kamis" {% if query_day == "Kamis" %} selected {% endif %}>Kamis</option>
        <option value="Jumat" {% if query_day == "Jumat" %} selected {% endif %}>Jumat</option>
        <option value="Sabtu" {% if query_day == "Sabtu" %} selected {% endif %}>Sabtu</option>
      </select>
      <input type="submit" value="Cari Data" class="p-2 m-1 rounded-lg text-white bg-indigo-500 text-xs cursor-pointer">
    </form>
  </div>
  <div class="grid grid-cols-1">
    <!-- Analytics Table -->
    <div class="p-4 mx-2 my-4 bg-white dark:bg-slate-800 rounded-md shadow-lg overflow-auto relative">
      
      {% if object_list %}

      <table class="table-auto border-collapse w-full">
        <caption class="my-2 font-bold">Daftar Jadwal</caption>
        <thead>
          <th class="p-2 border border-gray-400 bg-gray-300 text-black">Jam Ke</th>
          {% for object in class %}
          <th class="p-2 border border-gray-400 bg-gray-300 text-black">{{object.short_class_name}}</th>
          {% endfor %}
        </thead>
        <tbody>
          {% for group in object_list %}
            <tr>
              <td class="p-2 border border-gray-400 text-center sticky left-0 bg-gray-300 text-black font-bold">{{forloop.counter}}</td>
              {% for object in group %}
              <td class="p-2 border border-gray-400 text-center text-xs">
                {% if query_type == "code" %}
                <span class="bg-green-500 py-1 px-2 rounded-md font-semibold">{{object.schedule_course__course_code}}</span>
                {% elif query_type == "mapel" %}
                <p class="w-32">
                  <span class="py-1 px-2 rounded-md font-semibold">{{object.schedule_course__course_short_name}}</span>
                </p>
                {% elif query_type == "pengajar" %}
                <p class="w-32">
                <span class="py-1 px-2 rounded-md font-semibold">{{object.schedule_course__teacher__last_name}}</span>
                </p>
                {% endif %}
              </td>
              {% endfor %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
      {% else %}
      <p class="text-red-500 text-center font-bold">Maaf, belum ada data tersedia</p>
      {% endif %}
    </div>
  </div>
  

</main>
{% endblock content %}