{% extends 'base.html' %}

{% block content %}
<main class="p-4 sm:ml-64 overflow-auto">
    <h1 class="px-2 text-2xl font-bold text-blue-500 dark:text-white">Extracurricular/SC Detail</h1>
    <!-- Breadcrumb -->
    <div class="flex items-center gap-2">
        <a href="{% url 'dashboard' %}" class="pl-2">Dashboard</a>
        <p class="text-2xl">
            &triangleright;
        </p>
        <a href="{% url 'extracurricular-list' %}">Extracurricular/SC List</a>
        <p class="text-2xl">
            &triangleright;
        </p>
        <a href="">Extracurricular/SC Detail</a>
    </div>


    <div class="grid grid-cols-1 md:grid-cols-3">
        <!-- Analytics Table -->
        <div class="p-4 mx-2 my-4 bg-white dark:bg-slate-800 rounded-md shadow-lg">
            {% load thumbnail %}
            <img src="{{ object.logo|thumbnail_url:'landscape' }}" alt="Logo Ekskul" />
        </div>
        <div class="p-4 mx-2 my-4 bg-white dark:bg-slate-800 rounded-md shadow-lg col-span-2 relative">
            <div class="absolute end-0 mx-4 flex gap-2 justify-end">
                {% if request.user.is_authenticated %}
                <a href="{% url 'extracurricular-update' object.slug %}" class="p-2 bg-green-500 rounded-md">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="size-5">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10" />
                    </svg>
                </a>
                {% endif %}
            </div>
            <p class="m-1 text-green-500 font-bold">Nama {{object.get_type_display|default:""}}:</p>
            <p class="m-1">{{object.name|default:"-"}}</p>
            <p class="m-1 text-green-500 font-bold">Pembimbing:</p>
            <p class="m-1">{{object.teacher.all|join:"., "}}</p>
            <p class="m-1 text-green-500 font-bold">Jadwal Latihan:</p>
            <p class="m-1">{{object.schedule|default:"-"}} {{object.time|default:"-"}}</p>
            <p class="m-1 text-green-500 font-bold">Deskripsi:</p>
            <p class="m-1">{{object.description|default:"-"}}</p>
        </div>
    </div>

    <div class="grid grid-cols-1">
        <!-- Analytics Table -->
        <div class="p-4 mx-2 my-4 bg-white dark:bg-slate-800 rounded-md shadow-lg overflow-auto relative">
            <div class="absolute end-0 mx-4 flex gap-2 justify-end">
                {% if request.user.is_authenticated %}
                <a href="{% url 'extracurricular-update' object.slug %}" class="p-2 bg-green-500 rounded-md">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="size-5">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10" />
                    </svg>
                </a>
                {% endif %}
            </div>
            <table class="table-auto border-collapse w-full">
                <caption class="mb-4 text-lg font-semibold">Anggota </caption>
                <thead>
                    <th class="py-1 px-2 border text-center bg-blue-100 text-black">No</th>
                    <th class="py-1 px-2 border text-center bg-blue-100 text-black">Santri</th>
                    <th class="py-1 px-2 border text-center bg-blue-100 text-black">Kelas</th>
                </thead>
                <tbody>
                    {% for obj in object.members.all %}
                    <tr>
                        <td class="py-1 px-2 border text-center">{{forloop.counter}}</td>
                        <td class="py-1 px-2 border">{{obj.student_name}}</td>
                        <td class="py-1 px-2 border text-center">{{obj.student_class.class_name}}</td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="3">
                            <p class="my-4 text-center font-semibold text-red-500">Belum ada data anggota!</p>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    


    </div>
</main>
{% endblock content %}