{% extends 'base.html' %}

{% block content %}
    <main class="p-4 sm:ml-64 overflow-auto my-4">
        <div class="flex flex-col justify-center items-center">
            <h1 style="font-size: 200px;">&#x1F595;</h1>
            <p class="text-center">Bad Request - 400</p>
            <h2 class="text-2xl text-center text-balance">Upss, ada gerak-gerik mencurigakan!</h2>
            <h2 class="text-2xl text-center text-balance">Anda bukan hacker, kan?!</h2>
            <div class="flex gap-4 my-2">
                <a href="{{request.META.HTTP_REFERER}}" class="p-2 rounded-md bg-yellow-600 my-4 text-white">&#x1F448; Go Back</a>
                <a href="{% url 'app-index' %}" class="p-2 rounded-md bg-red-500 my-4 text-white">&#x1F3E0; Home</a>
                <a href="{% url 'dashboard' %}" class="p-2 rounded-md bg-blue-500 my-4 text-white">&#x1F4C8; Dashboard</a>
            </div>
        </div>
    </main>

{% endblock content %}