<div class="lg:hidden sticky bottom-0 left-0 text-center p-2" id="bottom-menu">
  <div class="flex justify-center p-2 px-6 dark:bg-gray-800 bg-blue-600 rounded-lg">
    <a href="{% url 'home' %}"><p class="px-4 py-2 mx-2 text-sm {{home}} rounded-lg flex flex-col">&#127968;<span class="text-xs text-black font-semibold">Home</span></p></a>
    <a href="{% url 'report-quick-create-v3' %}"><p class="px-4 py-2 mx-2 text-sm {{report}} rounded-lg flex flex-col">&#128221;<span class="text-xs text-black font-semibold">Report</span></p></a>
    <a href="{% url 'menu' %}"><p class="px-4 py-2 mx-2 text-sm bg-gray-300 rounded-lg {{menu}} flex flex-col">&#128241;<span class="text-xs text-black font-semibold">Menu</span></p></a>
    {% if request.user.is_authenticated %}
    <a href="{% url 'profile' %}"><p class="px-4 py-2 mx-2 text-sm bg-gray-300 {{profile}} rounded-lg flex flex-col">&#128100;<span class="text-xs text-black font-semibold">Profile</span></p></a>
    {% endif %}
  </div>
</div>