{% extends 'base.html' %}

{% block content %}


    <div class="mt-5 p-4 text-center">
        <h1>Aplikasi Ekstrakurikuler SMA IT Al Binaa</h1>
    </div>

    <div class="container text-center">
        <form class="d-flex my-4 mx-4" role="search" method="get" action="{% url 'ekskul-page' %}">
            <input class="form-control me-2" name="q" type="text" placeholder="Cari sesuatu?" aria-label="Search">
            <input class="btn btn-outline-success" type="submit" value="Cariin dong">
        </form>
        <div class="d-flex flex-wrap justify-content-center">
            {% if ekskul_data %}
                {% for ekskul_datum in ekskul_data %}
                    <div class="card m-2 text-bg-{{ ekskul_datum.color }}" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">{{ ekskul_datum.nama_aplikasi }}</h5>
                            <p class="card-text">{{ ekskul_datum.deskripsi }}</p>
                            <a href="{% with ekskul_datum.url as link %}{% url link %}{% endwith %}" class="btn btn-light">More Info</a>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="alert alert-danger" role="alert">
                    <h4 class="alert-heading">Uppss!</h4>
                    <h5>Maaf yang kamu cari gak ada nih. :( </h5>
                    <hr>
                    <p class="mb-2">Mungkin bisa pake kata kunci pencarian yang lain :)</p>
                </div>
            {% endif %}
        </div>
    </div>

{% endblock %}