{% load static %}

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>{{site_title|default:"PIKET SMAS IT AL BINAA"}}</title>
<meta content="PIKET SMAS IT Al Binaa" name="description" />
<meta content="PIKET SMA IT AL Binaa, SMAS IT AL Binaa, PIKET SMA IT AL Binaa, " name="keywords" />
<meta name="theme-color" content="#89c4ec" />
<link rel="canonical" href="https://piket.albinaa.sch.id/" />
<meta property="og:locale" content="en_US" />
<meta property="og:type" content="website" />
<meta property="og:title" content="PIKET SMAS IT AL BINAA" />
<meta property="og:url" content="https://piket.albinaa.sch.id/" />
<meta property="og:site_name" content="PIKET SMAS IT AL BINAA IBS" />
<meta property="og:image" content="https://piket.albinaa.sch.id/" />
<link rel="icon" type="image/png" href="{% static '/icon/favicon-96x96.png' %}" sizes="96x96" />
<link rel="icon" type="image/svg+xml" href="{% static '/icon/favicon.svg' %}" />
<link rel="shortcut icon" href="{% static '/icon/favicon.ico' %}" />
<link rel="apple-touch-icon" sizes="180x180" href="{% static '/icon/apple-touch-icon.png' %}" />
<meta name="apple-mobile-web-app-title" content="PIKET" />
<link rel="manifest" href="{% static 'manifest.json' %}" />
<link rel="stylesheet" href="{% static 'css/build.css' %}">