{% extends 'base.html' %}
{% block content %}
    <div class="container mt-5 pt-4">
        <div class="row justify-content-center align-items-center">
            <div class="text-center">
            <h3>Daftar Inventaris Ekstrakurikuler</h3>
            {% if request.user.is_superuser %}
                <a class="btn btn-primary m-1" href="{% url 'inventaris:inventaris-input' %}">Input Data Inventaris</a>
                <a class="btn btn-success m-1" href="{% url 'inventaris:inventaris-status-input' %}">Lapor Status Inventaris</a>
                <a class="btn btn-dark m-1" href="{% url 'inventaris:inventaris-invoice-input' %}">Upload Nota Inventaris</a>
            {% endif %}
                <a class="btn btn-danger m-1" href="{% url 'menu' %}">< Kembali</a>
            </div>
            <div class="col-sm mt-3">
                <table class="table table-hover w-100">
                    <thead>
                    <tr>
                        <th scope="col">No.</th>
                        <th scope="col">Nama Barang</th>
                        <th scope="col">Jumlah</th>
                        <th scope="col">Pemilik</th>
                        <th scope="col">Status</th>
                        <th scope="col">Nota</th>
                        <th scope="col">Aksi</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if inventaris %}
                        {% for data in inventaris %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ data.nama_barang}}</td>
                                <td>{{ data.jumlah }}</td>
                                <td>{{ data.pemilik }}</td>
                                <td>
                                    {% if data.inventorystatus_set.first %}
                                        <a href="{% url 'inventaris:inventaris-status-detail' data.id %}" class="btn btn-sm btn-success my-1" title="Detail">
                                            {{ data.inventorystatus_set.first.status }}
                                        </a>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if data.invoice_set.first %}
                                        <a href="{% url 'inventaris:inventaris-invoice-detail' data.id %}" class="btn btn-sm btn-success my-1" title="Detail">
                                            Lihat
                                        </a>
                                    {% endif %}
                                </td>
                                <td>
                                    <a href="{% url 'inventaris:inventaris-detail' data.id %}" class="btn btn-sm btn-primary my-1" title="Detail">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                                        </svg>
                                    </a>
                                    {% if request.user.is_superuser %}
                                        <a href="{% url 'inventaris:inventaris-edit' data.id %}" class="btn btn-sm btn-warning my-1" title="Edit">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                                <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                                            </svg>
                                        </a>
                                        <a href="{% url 'inventaris:inventaris-delete' data.id %}" class="btn btn-sm btn-danger my-1" title="Delete">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                            </svg>
                                        </a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="7" class="text-center fw-bold text-danger">Maaf, belum ada data inventaris :(</td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}