{% extends 'base.html' %}
{% block content %}
    <div class="container mt-5 pt-4">
        <div class="row justify-content-center align-items-center">
            <h3 class="text-center">Laporan Kehadiran Ekskul</h3>
            <h4 class="text-center">{{ ekskul.nama }}</h4>
            {% if bulan_ini %}
                <h4 class="text-center"> {{ bulan_ini}}</h4>
            {% endif %}
            {% for pembina in ekskul.pembina.all %}
                {% if ekskul.pembina.count > 1 %}
                    <h6 class="m-0">Pembina {{ forloop.counter }} :
                    {{ pembina }}
                {% else %}
                    <h6 class="m-0">Pembina :
                    {{ pembina }}
                {% endif %}
            </h6>
            {% endfor %}
            <h6 class="m-0"> Jadwal Bimbingan : {{ ekskul.jadwal }} {{ ekskul.waktu }}</h6>
            <a href="{% url 'laporan:laporan-index' %}" class="btn btn-danger m-3">Kembali</a>
            {% if display %}
                <a href="{% url 'laporan:laporan-input' ekskul.slug %}" class="btn btn-primary m-1">Input Laporan</a>
                <a href="{% url 'laporan:laporan-upload' ekskul.slug %}" class="btn btn-success m-1">Upload Foto</a>
            {% endif %}

            <form method="post" action="" id="form" class="mt-2">
                {% csrf_token %}
                <div class="row">
                    <div class="col-2">
                        <p class="me-2 text-end">Filter: </p>
                    </div>
                    <div class="col-7">
                        <select class="form-select" name="bulan" aria-label="Default select example">
                          <option value="0" selected>Pilih Bulan Laporan</option>
                          <option value="1">Januari</option>
                          <option value="2">Februari</option>
                          <option value="3">Maret</option>
                          <option value="4">April</option>
                          <option value="5">Mei</option>
                          <option value="6">Juni</option>
                          <option value="7">Juli</option>
                          <option value="8">Agustus</option>
                          <option value="9">September</option>
                          <option value="10">Oktober</option>
                          <option value="11">November</option>
                          <option value="12">Desember</option>
                        </select>
                    </div>
                    <div class="col-3 ">
                        <button id="save" type="submit" class="btn btn-primary ms-2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                            </svg>
                            <small>Cari</small>
                        </button>
                        <button id="loading" class="btn btn-sm btn-success" type="button" style="display: none" disabled>
                                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                Loading...
                        </button>
                    </div>
                </div>
            </form>
            <div class="col-sm mt-3">

                <table class="table table-hover w-100">
                    <thead>
                    <tr>
                        <!--<th scope="col">No.</th>-->
                        <th scope="col">Tgl</th>
                        <th scope="col">Kehadiran anggota</th>
                        <th scope="col">Foto</th>
                        <th scope="col">Aksi</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if filtered_report %}
                        {% for report in filtered_report %}
                            <tr>
                                <!--<td>{{ forloop.counter }}</td>-->
                                <td>{{ report.tanggal_pembinaan|date:"j M y"}}</td>
                                <td><strong>{{ report.kehadiran_santri.count }} SANTRI</strong>
                                </td>
                                <td>
                                    {% if report.uploadimage_set.all %}
                                        {% for image in report.uploadimage_set.all %}
                                            <img class="m-1" src="{{ image.foto_absensi.url }}" height="100px" width="100px">
                                            {% if display %}
                                                <a href="{% url 'laporan:laporan-upload-edit' ekskul.slug report.id %}" class="btn btn-sm btn-warning my-1" title="Edit Upload">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                                        <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                                                    </svg>
                                                </a>
                                                <a href="{% url 'laporan:laporan-upload-delete' ekskul.slug report.id %}" class="btn btn-sm btn-danger my-1" title="Hapus Foto">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                                        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                                    </svg>
                                                </a>
                                            {% endif %}
                                        {% endfor %}
                                    {% else %}
                                        <p>No image</p>
                                    {% endif %}
                                </td>
                                <td>
                                    <a href="{% url 'laporan:laporan-detail' ekskul.slug report.id %}" class="btn btn-sm btn-primary my-1" title="View">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                                        </svg>
                                    </a>
                                    {% if display %}
                                        <a href="{% url 'laporan:laporan-edit' ekskul.slug report.id %}" class="btn btn-sm btn-warning my-1" title="Edit">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                                <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                                            </svg>
                                        </a>
                                        <a href="{% url 'laporan:laporan-delete' ekskul.slug report.id %}" class="btn btn-sm btn-danger my-1" title="Hapus">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                            </svg>
                                        </a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="4" class="text-center fw-bold text-danger">Maaf, belum ada laporan kehadiran untuk bulan ini ({{ bulan_ini}}). Jika Anda input laporan untuk bulan yang lalu, silahkan filter untuk melihat hasilnya.</td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% include 'script.html' %}
{% endblock %}