{% extends 'base.html' %}

{% block content %}

<div class="container my-5 pt-5 text-center">
    <h1>Laporan Ekstrakurikuler dan <em>Study Club</em> SMA IT Al Binaa</h1>
</div>

<div class="container text-center">
    <div class="d-flex flex-wrap justify-content-center">
        {% if object_list %}
        {% for data in object_list %}
        <div class="card border-success m-2" style="width: 18rem; height: 100%;">
            <div class="card-header p-0 text-bg-success">
                <img src="{{data.logo.url}}" class="card-img-top" alt="Logo Ekskul">
                <p class="text-center m-0">{{ data.get_tipe_display }}</p>
            </div>
            <div class="card-body">
                <h5 class="card-title text-primary">{{ data.nama_ekskul }}</h5>
                {% for pembina in data.pembina.all %}
                <h6 class="card-subtitle mb-2">{{ pembina }}</h6>
                {% endfor %}
                <p class="p-0 m-0">Jadwal Pertemuan: {{ data.jadwal }} {{ data.waktu }}</p>
                <p class="card-text p-0 m-0">Total laporan Kehadiran : {{ data.report_set.count }}</p>
            </div>
            <div class="card-footer border-success">
                {% if request.user.is_authenticated %}
                <a href="{% url 'laporan:laporan-input' data.slug %}" class="btn btn-sm btn-danger m-1">Input Kehadiran</a>
                <a href="{% url 'laporan:laporan-print' data.slug %}" class="btn btn-sm btn-success m-1">Print Laporan</a>
                <a href="{% url 'laporan:laporan-print-v2' data.slug %}" class="btn btn-sm btn-success m-1">Cetak Laporan v.2</a>
                <a href="{% url 'laporan:laporan-ekskul' data.slug %}" class="btn btn-sm btn-warning m-1">Rekap Laporan</a>
                {% else %}
                <a href="{% url 'laporan:laporan-ekskul' data.slug %}" class="btn btn-sm btn-secondary m-1">Rekap Laporan</a>
                {% endif %}
            </div>
        </div>
        {% endfor %}
        {% endif %}
    </div>
</div>


{% endblock %}