{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ object_list.first.nama_ekskul }}-{{ object_list.first.tanggal_pembinaan|date:"F" }}-2023</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <!--<link rel="stylesheet" href="{% static 'css/style.css' %}">-->
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/png">
</head>

<body>
<div class="d-flex flex-column flex-wrap justify-content-center">
    <div class="row align-items-center">
        <div class="col-2">
            <img class="m-2" src="{% static 'images/Binaaul-Mustaqbal.png' %}" alt="logo-sma" width="120" height="100">

        </div>
        <div class="col-10">
            <h4 class="mt-4 mb-2 mx-2 text-center">DAFTAR HADIR EKSTRAKURIKULER / STUDY CLUB</h4>
            <h5 class="m-2 text-center">SMAS IT AL BINAA ISLAMIC BOARDING SCHOOL</h5>
            <h6 class="mt-2 mb-4 mx-2 text-center">TAHUN AJARAN 2023/2024</h6>

        </div>

    </div>
    {% for pembina in object_list.first.nama_ekskul.pembina.all %}
        {% if object_list.first.nama_ekskul.pembina.all.count > 1 %}
            <p class="my-0">Nama Pembina {{ forloop.counter }} : {{ pembina }}</p>
        {% else %}
            <p class="my-0">Nama Pembina : {{ object_list.first.nama_ekskul.pembina.first }}</p>
        {% endif %}
    {% endfor %}
    <p class="my-0">Ekstrakurikuler/SC : {{ object_list.first.nama_ekskul.nama_ekskul }}</p>
    <p class="my-2">Jadwal : {{ object_list.first.nama_ekskul.jadwal }} {{ object_list.first.nama_ekskul.waktu }}</p>

    <div class="row align-item-center">
        <div class="col-sm">
            <table class="table table-sm table-bordered w-100">
                <thead class="text-center">
                <tr>
                    <th scope="col" rowspan="3">No.</th>
                    <th scope="col" rowspan="3">Nama Anggota</th>
                    <th scope="col" rowspan="3">Kelas</th>
                    {% if object_list %}
                        <th scope="col" colspan="{{ object_list.count }}">
                            Pertemuan Eksktrakurikuler Bulan {{ object_list.first.tanggal_pembinaan|date:"F" }}
                        </th>
                    {% else %}
                        <th scope="col" colspan="4">
                            Pertemuan Eksktrakurikuler Bulan {{ object_list.first.tanggal_pembinaan|date:"F" }}
                        </th>

                    {% endif %}
                </tr>
                <tr>
                    {% for report in object_list %}
                        <th scope="col">{{ report.tanggal_pembinaan|date:"d/m" }}</th>
                    {% endfor %}
                </tr>

                </thead>
                <tbody style="font-size: 0.8rem">
                {% if object_list %}
                    {% for nama, kelas in students %}
                        <tr>
                            <td class="text-center">{{ forloop.counter }}</td>
                            <td>{{ nama }}</td>
                            <td class="text-center">{{ kelas }}</td>
                            {% for report in object_list %}
                                <td class="text-center" >
                                    {% for x in report.kehadiran_santri.all %}
                                        {% if x.siswa.nama_siswa == nama %}
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2-square" viewBox="0 0 16 16">
                                                <path d="M3 14.5A1.5 1.5 0 0 1 1.5 13V3A1.5 1.5 0 0 1 3 1.5h8a.5.5 0 0 1 0 1H3a.5.5 0 0 0-.5.5v10a.5.5 0 0 0 .5.5h10a.5.5 0 0 0 .5-.5V8a.5.5 0 0 1 1 0v5a1.5 1.5 0 0 1-1.5 1.5H3z"/>
                                                <path d="m8.354 10.354 7-7a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0z"/>
                                            </svg>

                                        {% endif %}
                                    {% endfor %}

                                </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}

                    {% for pembina in object_list.first.nama_ekskul.pembina.all %}
                        <tr>
                            <td colspan="3">Pembina {{ forloop.counter }} : {{ pembina }}</td>
                            {% for report in object_list %}
                                <td class="text-center">

                                    {% if pembina.nama_pembina == report.pembina_ekskul.nama_pembina %}
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2-square" viewBox="0 0 16 16">
                                        <path d="M3 14.5A1.5 1.5 0 0 1 1.5 13V3A1.5 1.5 0 0 1 3 1.5h8a.5.5 0 0 1 0 1H3a.5.5 0 0 0-.5.5v10a.5.5 0 0 0 .5.5h10a.5.5 0 0 0 .5-.5V8a.5.5 0 0 1 1 0v5a1.5 1.5 0 0 1-1.5 1.5H3z"/>
                                        <path d="m8.354 10.354 7-7a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0z"/>
                                    </svg>
                                    {% endif %}

                                </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}

                    <tr>
                        <td colspan="3">Materi / Catatan Pembinaan</td>
                        {% for report in object_list %}
                            <td class="text-center">
                                {{ report.catatan_pembinaan }}
                            </td>
                        {% endfor %}
                    </tr>

                {% else %}
                    {% for _ in angka %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    {% endfor %}

                    <tr>
                        <td colspan="3">Pembina Ekskul : {{ object_list.first.nama_ekskul.pembina.first }}</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td colspan="3">Materi / Catatan Pembinaan</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>

                {% endif %}
                </tbody>
            </table>
            {% if object_list.last.tanggal_pembinaan %}
                <p class="text-end m-0">Bekasi, {{object_list.last.tanggal_pembinaan|date:"j F Y"}}</p>
            {% else %}
                <p class="text-end m-0">Bekasi, .............................................</p>
            {% endif %}
            {% if object_list.first.nama_ekskul.pembina.all.count > 1 %}
                <div class="row mb-4">
                    <div class="col text-center">
                        <p>Wakasek Ekstrakurikuler</p>
                    </div>
                    {% for pembina in object_list.first.nama_ekskul.pembina.all %}
                        <div class="col text-center">
                            <p>Pembina {{ forloop.counter }}</p>
                        </div>
                    {% endfor %}
                </div>
                <div class="row mt-1">
                    <div class="col text-center">
                        <p>Panji Asmara, S.Pd</p>
                    </div>
                    {% for pembina in object_list.first.nama_ekskul.pembina.all %}
                        <div class="col text-center">
                            <p>{{ pembina }}</p>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <div class="row mb-4">
                    <div class="col text-center">
                        <p>Wakasek Ekstrakurikuler</p>
                    </div>
                    <div class="col text-center">
                        <p>Pembina</p>
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="col text-center">
                        <p>Panji Asmara, S.Pd</p>
                    </div>
                    <div class="col text-center">
                        <p>{{ object_list.first.nama_ekskul.pembina.first }}</p>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
</body>
</html>