{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>LPJ PMBP SMAS IT AL BINAA</title>
  <meta content="Pengembangan Minat, Bakat dan Pembinaan Prestasi SMAS IT Al Binaa" name="description" />
  <meta
    content="SMA IT AL Binaa, SMAS IT AL Binaa, PMBP SMA IT AL Binaa, PMBP SMAS IT AL Binaa, Ekskul SMA IT AL Binaa, Ekskul"
    name="keywords" />
  <link rel="canonical" href="https://pmbp.smasitalbinaa.com/lpj/" />
  <meta property="og:locale" content="en_US" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="LPJ PMBP SMAS IT AL BINAA" />
  <meta property="og:url" content="https://pmbp.smasitalbinaa.com/lpj/" />
  <meta property="og:site_name" content="SMAS IT AL BINAA IBS" />
  <meta property="article:modified_time" content="2023-12-05T01:53:58+00:00" />
  <meta property="og:image" content="https://pmbp.smasitalbinaa.com/media/prestasi/IMG-20231225-WA0036_K4uvPoa.jpg" />
  <!-- Favicons -->
  <link href="{% static 'img/favicon.png' %}" rel="icon" />
  <link href="{% static 'img/apple-touch-icon.png' %}" rel="apple-touch-icon" />
  <link rel="stylesheet" href="{% static 'css/build.css' %}">
  <!-- <link href="src/output.css" rel="stylesheet" /> -->
  <!-- <link href="./build.css" rel="stylesheet" /> -->
</head>

<body class="bg-gray-100 dark:bg-black dark:text-gray-200">
  {% include 'header.html' %}
  {% include 'Sidebar.html' %}

  <main class="p-4 sm:ml-64 overflow-auto">
    <section class="text-center font-medium text-xl">
      <h1>LAPORAN PERTANGGUNG JAWABAN PROGRAM KERJA</p>
        <h2>BIDANG PENGEMBANGAN MINAT, BAKAT, DAN PRESTASI (PMBP)</p>
          <h3>SMA ISLAM TERPADU AL BINAA</p>
            <h3>TAHUN PELAJARAN 2023/2024</p>
    </section>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 mt-2 border-0 sm:gap-4 gap-2 p-2">
      <article class="rounded-lg border border-gray-100 bg-white dark:bg-gray-800 p-4 shadow-lg">
        <div class="flex items-center justify-between">
          <div>
            <p class="text-sm text-gray-500 dark:text-slate-200">
              Keterlaksanaan Program
            </p>

            <p class="text-2xl font-medium text-gray-900 dark:text-slate-200">
              11 Program
            </p>
          </div>

          <span class="rounded-full bg-blue-100 p-3 text-blue-600">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
              stroke="currentColor" class="size-6">
              <path stroke-linecap="round" stroke-linejoin="round"
                d="M4.26 10.147a60.438 60.438 0 0 0-.491 6.347A48.62 48.62 0 0 1 12 20.904a48.62 48.62 0 0 1 8.232-4.41 60.46 60.46 0 0 0-.491-6.347m-15.482 0a50.636 50.636 0 0 0-2.658-.813A59.906 59.906 0 0 1 12 3.493a59.903 59.903 0 0 1 10.399 5.84c-.896.248-1.783.52-2.658.814m-15.482 0A50.717 50.717 0 0 1 12 13.489a50.702 50.702 0 0 1 7.74-3.342M6.75 15a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5Zm0 0v-3.675A55.378 55.378 0 0 1 12 8.443m-7.007 11.55A5.981 5.981 0 0 0 6.75 15.75v-1.5" />
            </svg>

          </span>
        </div>

        <div class="mt-1 flex gap-1 text-green-600 items-center">
          <p class="flex gap-2 text-sm">
            <span class="font-bold">9 (81,82%)</span>
            <span class="text-gray-500 dark:text-slate-200">Terlaksana</span>
          </p>
        </div>
        <div class="mt-1 flex gap-1 text-red-600">
          <p class="flex gap-2 text-sm">
            <span class="font-bold">2 (18,18%)</span>
            <span class="text-gray-500 dark:text-slate-200">Tidak Terlaksana</span>
          </p>
        </div>
      </article>
      <article class="rounded-lg border border-gray-100 bg-white dark:bg-gray-800 p-4 shadow-lg">
        <div class="flex items-center justify-between">
          <div>
            <p class="text-sm text-gray-500 dark:text-slate-200">
              Eksktrakurikuler & <em>Studi Club</em>
            </p>

            <p class="text-2xl font-medium text-gray-900 dark:text-slate-200">
              26 Entitas
            </p>
          </div>

          <span class="rounded-full bg-blue-100 p-3 text-blue-600">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
              stroke="currentColor" class="size-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 6a7.5 7.5 0 1 0 7.5 7.5h-7.5V6Z" />
              <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 10.5H21A7.5 7.5 0 0 0 13.5 3v7.5Z" />
            </svg>

          </span>
        </div>

        <div class="mt-1 flex gap-1 text-green-600">
          <p class="flex gap-2 text-sm">
            <span class="font-medium">18 (69,23%)</span>
            <span class="text-gray-500 dark:text-slate-200">Ektrakurikuler</span>
          </p>
        </div>
        <div class="mt-1 flex gap-1 text-red-600">
          <p class="flex gap-2 text-sm">
            <span class="font-medium">8 (30,77%)</span>
            <span class="text-gray-500 dark:text-slate-200"><em>Studi Club</em></span>
          </p>
        </div>
      </article>
      <article class="rounded-lg border border-gray-100 bg-white dark:bg-gray-800 p-4 shadow-lg">
        <div class="flex items-center justify-between">
          <div>
            <p class="text-sm text-gray-500 dark:text-slate-200">
              Keaktifan Entitas Ekskul/SC
            </p>

            <p class="text-2xl font-medium text-gray-900 dark:text-slate-200">
              26 Entitas
            </p>
          </div>

          <span class="rounded-full bg-blue-100 p-3 text-blue-600">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
              stroke="currentColor" class="size-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 6a7.5 7.5 0 1 0 7.5 7.5h-7.5V6Z" />
              <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 10.5H21A7.5 7.5 0 0 0 13.5 3v7.5Z" />
            </svg>

          </span>
        </div>

        <div class="mt-1 flex gap-1 text-green-600">
          <p class="flex gap-2 text-xs">
            <span class="font-medium">18 (69,23%)</span>
            <span class="text-gray-500 dark:text-slate-200">aktif/pernah melakukan pertemuan</span>
          </p>
        </div>
        <div class="mt-1 flex gap-1 text-red-600">
          <p class="flex gap-2 text-xs">
            <span class="font-medium">8 (30,77%)</span>
            <span class="text-gray-500 dark:text-slate-200">tidak pernah melakukan pertemuan</span>
          </p>
        </div>
      </article>
    </div>

    <div class="grid grid-cols-1 sm:gap-4 gap-2">
      <article class="p-2 w-full">
        <div class="overflow-auto shadow-lg">
          <table class="table-auto border-collapse rounded-lg bg-white dark:bg-gray-800 w-full dark:text-white">
            <caption class="font-bold">
              A. PROGRAM KERJA TA. 2023/2024
            </caption>

            <thead>
              <tr>
                <th class="border dark:border-black p-1">No</th>
                <th class="border dark:border-black p-1">Program Kerja</th>
                <th class="border dark:border-black p-1">Tujuan</th>
                <th class="border dark:border-black p-1 rounded-tr-lg">Sasaran</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="border dark:border-black py-1 px-3 text-center">1</td>
                <td class="border dark:border-black py-1 px-3">Raimuna Pramuka</td>
                <td class="border dark:border-black py-1 px-3">Pembinaan Karakter Santri Lewat Program Kepramukaan</td>
                <td class="border dark:border-black py-1 px-3">Santri Pilihan dari Kelas 10 dan 11</td>
              </tr>
              <tr>
                <td class="border dark:border-black py-1 px-3 text-center">2</td>
                <td class="border dark:border-black py-1 px-3">Camp Kenaikan Tingkat Pramuka</td>
                <td class="border dark:border-black py-1 px-3">Latihan Kemandirian Santri dan Pemberian Reward Kenaikan
                  Tingkat Kepramukaan</td>
                <td class="border dark:border-black py-1 px-3">Santri Pilihan dari Kelas 10 dan 11</td>
              </tr>
              <tr>
                <td class="border dark:border-black py-1 px-3 text-center">3</td>
                <td class="border dark:border-black py-1 px-3">Olimpiade Sains Nasional (OSN)</td>
                <td class="border dark:border-black py-1 px-3">Pengembangan Prestasi Santri Dalam Bidang Sains</td>
                <td class="border dark:border-black py-1 px-3">Santri Hasil Seleksi dari Kelas 10 dan 11</td>
              </tr>
              <tr>
                <td class="border dark:border-black py-1 px-3 text-center">4</td>
                <td class="border dark:border-black py-1 px-3">MTQ Kemenag RI</td>
                <td class="border dark:border-black py-1 px-3">Pengembangan Prestasi Santri Dalam Bidang Al Quran Dan
                  Bahasa Arab</td>
                <td class="border dark:border-black py-1 px-3">Santri Hasil Seleksi dari Kelas 10, 11 dan 12</td>
              </tr>
              <tr>
                <td class="border dark:border-black py-1 px-3 text-center">5</td>
                <td class="border dark:border-black py-1 px-3">Olimpiade Bahasa Arab (OBA)</td>
                <td class="border dark:border-black py-1 px-3">Pengembangan Prestasi Santri Dalam Bidang Bahasa Arab
                </td>
                <td class="border dark:border-black py-1 px-3">Santri Hasil Seleksi dari Kelas 10, 11 dan 12</td>
              </tr>
              <tr>
                <td class="border dark:border-black py-1 px-3 text-center">6</td>
                <td class="border dark:border-black py-1 px-3">Kompetisi Sains Madrasah (KSM) </td>
                <td class="border dark:border-black py-1 px-3">Pengembangan Prestasi Santri Dalam Bidang Sains
                  Terintergrasi Dengan Al Quran Dan As Sunnah</td>
                <td class="border dark:border-black py-1 px-3">Santri Hasil Seleksi dari Kelas 10 dan 11</td>
              </tr>
              <tr>
                <td class="border dark:border-black py-1 px-3 text-center">7</td>
                <td class="border dark:border-black py-1 px-3">Olimpiade Penelitian Siswa Indonesia (OPSI)</td>
                <td class="border dark:border-black py-1 px-3">Pembinaan Karakter Santri Lewat Program Kepramukaan</td>
                <td class="border dark:border-black py-1 px-3">Santri Pilihan dari Kelas 10 dan 11</td>
              </tr>
              <tr>
                <td class="border dark:border-black py-1 px-3 text-center">8</td>
                <td class="border dark:border-black py-1 px-3">Festival Dan Lomba Seni Siswa Nasional (FLS2N)</td>
                <td class="border dark:border-black py-1 px-3">Pengembangan Prestasi Santri Dalam Bidang Literasi Dan
                  Seni</td>
                <td class="border dark:border-black py-1 px-3">Santri Terpilih Hasil Penyeleksian Ekskul Dan Study Club
                </td>
              </tr>
              <tr>
                <td class="border dark:border-black py-1 px-3 text-center">9</td>
                <td class="border dark:border-black py-1 px-3">Mengikuti Lomba Eksternal Event-Event Indonesian Young
                  Scientits Association</td>
                <td class="border dark:border-black py-1 px-3">Pengembangan Prestasi Santri Dalam Bidang Penelitian Dan
                  Karya Ilmiah</td>
                <td class="border dark:border-black py-1 px-3">Santri-Santri Anggota Ekstrakurikuler Karya Ilmiah Remaja
                  SMA IT Al Binaa</td>
              </tr>
              <tr>
                <td class="border dark:border-black py-1 px-3 text-center">10</td>
                <td class="border dark:border-black py-1 px-3">Event Beladiri Taekwondo</td>
                <td class="border dark:border-black py-1 px-3">Pengembangan Karakter Santri Melalui Bidang Beladiri</td>
                <td class="border dark:border-black py-1 px-3">Santri-Santri Anggota Ekstrakurikuler Taekwondo</td>
              </tr>
              <tr>
                <td class="border dark:border-black py-1 px-3 text-center">11</td>
                <td class="border dark:border-black py-1 px-3">Event lomba-lomba Akademik dan Olahraga</td>
                <td class="border dark:border-black py-1 px-3">Pengembangan Prestasi Santri Dalam Bidang Akademik dan
                  Olahraga</td>
                <td class="border dark:border-black py-1 px-3">Santri-Santri Potensial yang Terpilih dari kelas 10, 11
                  dan 12</td>
              </tr>
            </tbody>
          </table>
        </div>
      </article>
      <article class="p-2 w-full">
        <div class="overflow-auto shadow-lg">
          <table class="table-auto border-collapse rounded-lg bg-white dark:bg-gray-800 w-full dark:text-white">
            <caption class="font-bold">
              B.1. PELAKSANAAN PROGRAM KERJA TA. 2023/2024
            </caption>

            <thead>
              <tr>
                <th class="border dark:border-black p-1">No</th>
                <th class="border dark:border-black p-1">Program Kerja</th>
                <th class="border dark:border-black p-1">Waktu Pelaksanaan</th>
                <th class="border dark:border-black p-1">Realisasi</th>
                <th class="border dark:border-black p-1">Penanggungjawab</th>
                <th class="border dark:border-black p-1 rounded-tr-lg">Deskripsi</th>
              </tr>
            </thead>
            <tbody>
              <tr class="bg-red-500">
                <td class="border dark:border-black py-1 px-3 text-center">1</td>
                <td class="border dark:border-black py-1 px-3">Raimuna Pramuka</td>
                <td class="border dark:border-black py-1 px-3">-</td>
                <td class="border dark:border-black py-1 px-3">Tidak terlaksana</td>
                <td class="border dark:border-black py-1 px-3">
                  <ol class="list-decimal list-inside">
                    <li>Ustadz Afirul Firman Syadani, SH</li>
                    <li>Ustadz Muhammad Ikhsan, S.Pd</li>
                    <li>Ustadz Aam Handani, S.Pd</li>
                  </ol>
                </td>
                <td class="border dark:border-black py-1 px-3">Kwaran Tidak menyelenggarakan Raimuna di Tahun Ajaran
                  2023/2024. Kegiatan ini diganti dengan kegiatan internal SMA IT Al Binaa seperti Longmarch dan Uji SKK
                  Penegak di luar lingkungan Al Binaa</td>
              </tr>
              <tr>
                <td class="border dark:border-black py-1 px-3 text-center">2</td>
                <td class="border dark:border-black py-1 px-3">Camp Kenaikan Tingkat Pramuka</td>
                <td class="border dark:border-black py-1 px-3">13 Juni 2023</td>
                <td class="border dark:border-black py-1 px-3">Terlaksana</td>
                <td class="border dark:border-black py-1 px-3">
                  <ol class="list-decimal list-inside">
                    <li>Ustadz Afirul Firman Syadani, SH</li>
                    <li>Ustadz Muhammad Ikhsan, S.Pd</li>
                    <li>Ustadz Aam Handani, S.Pd</li>
                  </ol>
                </td>
                <td class="border dark:border-black py-1 px-3">35 Santri yang lolos mengikuti kenaikan Tingkat Bantara
                  dan beberapa sudah menyelesaikan SKK syarat kenaikan Laksana dan satu santri lolos dan dilantik
                  menjadi Pramuka Garuda a/n Kevin Masahiro Adi (kls 11) di Pemda Bekasi. Satu-satunya anggota pramuka
                  dari kec Pebayuran yang lolos garuda</td>
              </tr>
              <tr>
                <td class="border dark:border-black py-1 px-3 text-center">3</td>
                <td class="border dark:border-black py-1 px-3">Olimpiade Sains Nasional (OSN)</td>
                <td class="border dark:border-black py-1 px-3">Maret 2023 - Oktober 2024</td>
                <td class="border dark:border-black py-1 px-3">Terlaksana</td>
                <td class="border dark:border-black py-1 px-3">Azhar Faturohman A., S.Si</td>
                <td class="border dark:border-black py-1 px-3">
                  <ul class="list-disc list-inside">
                    <li>11 Santri Juara OSN-K 2023 dan 10 santri juara OSN-K 2024</li>
                    <li>1 santri juara OSN-P 2023 dan 2 santri juara OSN-P 2024</li>
                    <li>1 santri medali perak OSN 2023</li>
                  </ul>
                </td>
              </tr>
              <tr>
                <td class="border dark:border-black py-1 px-3 text-center">4</td>
                <td class="border dark:border-black py-1 px-3">MTQ Kemenag RI</td>
                <td class="border dark:border-black py-1 px-3">Mei 2024</td>
                <td class="border dark:border-black py-1 px-3">Terlaksana</td>
                <td class="border dark:border-black py-1 px-3">Ustadz Panji Asmara, S.Pd</td>
                <td class="border dark:border-black py-1 px-3">
                  <ul class="list-disc list-inside">
                    <li>3 santri juara 2 MTQ Fahmil Quran Tk Kabupaten Bekasi dan Karawang 2024</li>
                    <li>1 santri lolos ke provinsi dan juara 3 MTQ fahmil quran 2024</li>
                  </ul>
                </td>
              </tr>
              <tr>
                <td class="border dark:border-black py-1 px-3 text-center">5</td>
                <td class="border dark:border-black py-1 px-3">Olimpiade Bahasa Arab (OBA)</td>
                <td class="border dark:border-black py-1 px-3">Juni - November 2023</td>
                <td class="border dark:border-black py-1 px-3">Terlaksana</td>
                <td class="border dark:border-black py-1 px-3">Ustadz Panji Asmara, S.Pd</td>
                <td class="border dark:border-black py-1 px-3">
                  Tidak tercapai target lolos Nasional dengan rincian sebagai berikut:
                  <ul class="list-disc list-inside">
                    <li>Juara 1 dan 2 OBA-K</li>
                    <li>Tidak juara Provinsi Jabar</li>
                  </ul>
                </td>
              </tr>
              <tr>
                <td class="border dark:border-black py-1 px-3 text-center">6</td>
                <td class="border dark:border-black py-1 px-3">Kompetisi Sains Madrasah (KSM) </td>
                <td class="border dark:border-black py-1 px-3">Juli - September 2023</td>
                <td class="border dark:border-black py-1 px-3">Terlaksana</td>
                <td class="border dark:border-black py-1 px-3">Ustadz Hario Sadewo Purwahadi, S.Si</td>
                <td class="border dark:border-black py-1 px-3">
                  Tidak tercapai target lolos Nasional dengan rincian sebagai berikut:
                  <ul class="list-disc list-inside">
                    <li>1 santri Juara 1 KSM-K Fisika</li>
                    <li>1 santri Juara 1 KSM-K Geografi</li>
                    <li>1 santri Juara 3 KSM-K Matematika</li>
                    <li>1 santri juara 2 KSM-P Geografi</li>
                  </ul>
                </td>
              </tr>
              <tr>
                <td class="border dark:border-black py-1 px-3 text-center">7</td>
                <td class="border dark:border-black py-1 px-3">Olimpiade Penelitian Siswa Indonesia (OPSI)</td>
                <td class="border dark:border-black py-1 px-3">Juli - Oktober 2023</td>
                <td class="border dark:border-black py-1 px-3">Terlaksana</td>
                <td class="border dark:border-black py-1 px-3">Ustadz Rayis Syamlan, ST</td>
                <td class="border dark:border-black py-1 px-3">2 santri mengikuti ajang OPSI namun belum mencapai final
                </td>
              </tr>
              <tr>
                <td class="border dark:border-black py-1 px-3 text-center">8</td>
                <td class="border dark:border-black py-1 px-3">Festival Dan Lomba Seni Siswa Nasional (FLS2N)</td>
                <td class="border dark:border-black py-1 px-3">Maret - Desember 2024</td>
                <td class="border dark:border-black py-1 px-3">Terlaksana</td>
                <td class="border dark:border-black py-1 px-3">
                  <ol class="list-decimal list-inside">
                    <li>Ustadz Mustaani Parmula, S.Pd</li>
                    <li>Ustadz MS Haromaen, S.Kom</li>
                  </ol>
                </td>
                <td class="border dark:border-black py-1 px-3">2 santri Cipta Puisi, 1 santri Baca Puisi, 2 santri
                  Fotografi, 2 santri Desain Poster. Belum ada pengumuman hasil lomba</td>
              </tr>
              <tr>
                <td class="border dark:border-black py-1 px-3 text-center">9</td>
                <td class="border dark:border-black py-1 px-3">Mengikuti Lomba Eksternal Event-Event Indonesian Young
                  Scientits Association</td>
                <td class="border dark:border-black py-1 px-3">Januari 2023 - Juni 2024</td>
                <td class="border dark:border-black py-1 px-3">Terlaksana</td>
                <td class="border dark:border-black py-1 px-3">
                  <ol class="list-decimal list-inside">
                    <li>Ustadz Rayis Syamlan, ST</li>
                    <li>Azhar Faturohman A., S.Si</li>
                  </ol>
                </td>
                <td class="border dark:border-black py-1 px-3">Berhasil mengikuti beberapa event seperti IIIEX, WSEEC,
                  AISEEF, YISF, CASTIC, I3NEW, WICE</td>
              </tr>
              <tr class="bg-red-500">
                <td class="border dark:border-black py-1 px-3 text-center">10</td>
                <td class="border dark:border-black py-1 px-3">Event Beladiri Taekwondo</td>
                <td class="border dark:border-black py-1 px-3">-</td>
                <td class="border dark:border-black py-1 px-3">Tidak Terlaksana</td>
                <td class="border dark:border-black py-1 px-3">Khairil Mahmudin</td>
                <td class="border dark:border-black py-1 px-3">Santri anggota taekwondo belum ada yang layak ikut
                  turnamen. Jumlah peserta sangat minim dan jumlahnya makin melorot.</td>
              </tr>
              <tr>
                <td class="border dark:border-black py-1 px-3 text-center">11</td>
                <td class="border dark:border-black py-1 px-3">Event lomba-lomba Akademik dan Olahraga</td>
                <td class="border dark:border-black py-1 px-3">Sepanjang tahun ajaran</td>
                <td class="border dark:border-black py-1 px-3">Terlaksana</td>
                <td class="border dark:border-black py-1 px-3">Tim PMBP</td>
                <td class="border dark:border-black py-1 px-3">Beragam event telah diikuti</td>
              </tr>
            </tbody>
          </table>
        </div>
      </article>
      <!-- BAGIAN B.2 -->
      <article class="p-2 w-full">
        <div class="overflow-auto shadow-lg">
          <table class="table-auto border-collapse rounded-lg bg-white dark:bg-gray-800 w-full dark:text-white">
            <caption class="font-bold">
              B.2. PENGGUNAAN ANGGARAN PROGRAM KERJA TA. 2023/2024
            </caption>

            <thead>
              <tr>
                <th class="border dark:border-black p-1">No</th>
                <th class="border dark:border-black p-1">Program Kerja</th>
                <th class="border dark:border-black p-1 rounded-tr-lg">Anggaran Terserap</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="border dark:border-black py-1 px-3 text-center">1</td>
                <td class="border dark:border-black py-1 px-3">Raimuna Pramuka</td>
                <td class="border dark:border-black py-1 px-3">-</td>
              </tr>
              <tr>
                <td class="border dark:border-black py-1 px-3 text-center">2</td>
                <td class="border dark:border-black py-1 px-3">Camp Kenaikan Tingkat Pramuka</td>
                <td class="border dark:border-black py-1 px-3">
                  <ol class="list-inside list-decimal">
                    <li>Camping Kenaikan Tk Bantara: Rp11.000.000</li>
                    <li>Upacara di Stadion: Rp1.300.000</li>
                    <li>Akomodasi Pelantikan Garuda: Rp600.000</li>
                  </ol>
                  <p class="p-2">Total: Rp12.900.000</p>
                </td>
              </tr>
              <tr>
                <td class="border dark:border-black py-1 px-3 text-center">3</td>
                <td class="border dark:border-black py-1 px-3">Olimpiade Sains Nasional (OSN)</td>
                <td class="border dark:border-black py-1 px-3">
                  <ol class="list-inside list-decimal">
                    <li>OSN-K 2024: Rp11.403.000</li>
                    <li>Reward Juara OSN-K 10 santri @450.000: Rp4.500.000</li>
                    <li>Reward Pembimbing Juara OSN-K 6 x @400.000: Rp2.400.000</li>
                    <li>OSN-P 2024: Rp10.403.000</li>
                    <li>Reward Juara Juara OSN-P 2 x @750.000: Rp1.500.000</li>
                    <li>Reward Pembimbing 1 Juara OSN-P 20% bimbingan x 600.000: Rp120.000</li>
                    <li>Reward Pembimbing 1 Juara OSN-P 70% bimbingan x 600.000 : Rp420.000</li>
                    <li>Reward Radya Fallah Medali Perak Nasional: Rp1.000.000</li>
                    <li>Biaya pengantaran Radya pelatihan Pemprov Jabar Bandung: Rp750.000</li>
                    <li>Biaya pengantaran Radya Pelatnas 1 Bandung: Rp750.000</li>
                  </ol>
                  <p class="p-2">Total: Rp33.246.000</p>
                </td>
              </tr>
              <tr>
                <td class="border dark:border-black py-1 px-3 text-center">4</td>
                <td class="border dark:border-black py-1 px-3">MTQ Kemenag RI</td>
                <td class="border dark:border-black py-1 px-3">
                  <ol class="list-inside list-decimal">
                    <li>MTQ Bekasi: Rp713.100</li>
                    <li>MTQ Karawang: Rp1.306.100</li>
                    <li>MTQ Provinsi: Rp1.015.000</li>
                  </ol>
                  <p class="p-2">Total: Rp3.034.200</p>
                </td>
              <tr>
                <td class="border dark:border-black py-1 px-3 text-center">5</td>
                <td class="border dark:border-black py-1 px-3">Olimpiade Bahasa Arab (OBA)</td>
                <td class="border dark:border-black py-1 px-3">
                  <ol class="list-inside list-decimal">
                    <li>OBA-K: Rp500.000</li>
                    <li>OBA-P: Rp1.000.000</li>
                    <li>Reward Juara 1: Rp400.000</li>
                    <li>Reward Juara 2: Rp350.000</li>
                    <li>Reward Juara 3: Rp300.000</li>
                  </ol>
                  <p class="p-2">Total: Rp2.550.000</p>
                </td>
              </tr>
              <tr>
                <td class="border dark:border-black py-1 px-3 text-center">6</td>
                <td class="border dark:border-black py-1 px-3">Kompetisi Sains Madrasah (KSM) </td>
                <td class="border dark:border-black py-1 px-3">
                  <ol class="list-inside list-decimal">
                    <li>KSM-K: Rp3.200.000</li>
                    <li>KSM-P :Rp3.170.000</li>
                    <li>Reward Juara 1 @2 x 400.000: Rp800.000</li>
                    <li>Reward Juara 3: Rp300.000</li>
                    <li>Reward Pembina Juara 1: Rp350.000</li>
                    <li>Reward Pembina Juara 3: Rp250.000</li>
                  </ol>
                  <p class="p-2">Total: Rp8.070.000</p>
                </td>
              </tr>
              <tr>
                <td class="border dark:border-black py-1 px-3 text-center">7</td>
                <td class="border dark:border-black py-1 px-3">Olimpiade Penelitian Siswa Indonesia (OPSI)</td>
                <td class="border dark:border-black py-1 px-3">Biaya mandiri menggunakan produk yg sudah jadi</td>
              </tr>
              <tr>
                <td class="border dark:border-black py-1 px-3 text-center">8</td>
                <td class="border dark:border-black py-1 px-3">Festival Dan Lomba Seni Siswa Nasional (FLS2N)</td>
                <td class="border dark:border-black py-1 px-3">-</td>
              </tr>
              <tr>
                <td class="border dark:border-black py-1 px-3 text-center">9</td>
                <td class="border dark:border-black py-1 px-3">Mengikuti Lomba Eksternal Event-Event Indonesian Young
                  Scientits Association</td>
                <td class="border dark:border-black py-1 px-3">Subsidi Transport dan reward para juara: Rp5.300.000</td>
              </tr>
              <tr>
                <td class="border dark:border-black py-1 px-3 text-center">10</td>
                <td class="border dark:border-black py-1 px-3">Event Beladiri Taekwondo</td>
                <td class="border dark:border-black py-1 px-3">-</td>
              </tr>
              <tr>
                <td class="border dark:border-black py-1 px-3 text-center">11</td>
                <td class="border dark:border-black py-1 px-3">Event lomba-lomba Akademik dan Olahraga</td>
                <td class="border dark:border-black py-1 px-3">Transport dan akomodasi lomba: Rp. 2.300.000</td>
              </tr>
              <tr>
                <td class="border dark:border-black py-1 px-3 text-center" colspan="2">Total Dana yang terserap</td>
                <td class="border dark:border-black py-1 px-3 bg-red-500">Rp67.400.200</td>
              </tr>
            </tbody>
          </table>
        </div>
      </article>
      <!-- BAGIAN C -->
      <article class="p-2 w-full">
        <div class="overflow-auto shadow-lg">
          <table class="table-auto border-collapse rounded-lg bg-white dark:bg-gray-800 w-full dark:text-white">
            <caption class="font-bold">
              C. KONDISI UMUM EKSTRAKURIKULER DAN <em>STUDI CLUB</em> SMA IT AL BINAA 2023/2024
            </caption>

            <thead>
              <tr>
                <th class="border dark:border-black p-1">No</th>
                <th class="border dark:border-black p-1">Jenis</th>
                <th class="border dark:border-black p-1">Nama</th>
                <th class="border dark:border-black p-1">Pembina</th>
                <th class="border dark:border-black p-1">Jumlah Anggota</th>
                <th class="border dark:border-black p-1 rounded-tr-lg">Proyeksi di TA 2024/2025</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="border dark:border-black py-1 px-3 text-center">1</td>
                <td class="border dark:border-black py-1 px-3">Olahraga</td>
                <td class="border dark:border-black py-1 px-3">Badminton</td>
                <td class="border dark:border-black py-1 px-3">Masrur Agus Alwy, Lc &rarr; Akbar, S.Pd.I</td>
                <td class="border dark:border-black py-1 px-3 text-center">- <br> (Hibernasi)</td>
                <td class="border dark:border-black py-1 px-3">Dilanjutkan</td>
              </tr>
              <tr>
                <td class="border dark:border-black py-1 px-3 text-center">2</td>
                <td class="border dark:border-black py-1 px-3">Olahraga</td>
                <td class="border dark:border-black py-1 px-3">Basket</td>
                <td class="border dark:border-black py-1 px-3">Andri Rinaldi</td>
                <td class="border dark:border-black py-1 px-3 text-center">31</td>
                <td class="border dark:border-black py-1 px-3">Dilanjutkan</td>
              </tr>
              <tr>
                <td class="border dark:border-black py-1 px-3 text-center">3</td>
                <td class="border dark:border-black py-1 px-3">Olahraga</td>
                <td class="border dark:border-black py-1 px-3">Bola Voli</td>
                <td class="border dark:border-black py-1 px-3">Helmi Sukma Zain</td>
                <td class="border dark:border-black py-1 px-3 text-center">36</td>
                <td class="border dark:border-black py-1 px-3">Dilanjutkan</td>
              </tr>
              <tr>
                <td class="border dark:border-black py-1 px-3 text-center">4</td>
                <td class="border dark:border-black py-1 px-3">Olahraga</td>
                <td class="border dark:border-black py-1 px-3">Futsal</td>
                <td class="border dark:border-black py-1 px-3">Naufal Farhan Lasandi, S.Pd.I &rarr; Prio Satrio &rarr;
                  Iqbaludin</td>
                <td class="border dark:border-black py-1 px-3 text-center">22</td>
                <td class="border dark:border-black py-1 px-3">Dilanjutkan</td>
              </tr>
              <tr>
                <td class="border dark:border-black py-1 px-3 text-center">5</td>
                <td class="border dark:border-black py-1 px-3">Olahraga</td>
                <td class="border dark:border-black py-1 px-3">Sepakbola</td>
                <td class="border dark:border-black py-1 px-3">Zuhdi Muslim, S.Pd</td>
                <td class="border dark:border-black py-1 px-3 text-center">40</td>
                <td class="border dark:border-black py-1 px-3">Dilanjutkan</td>
              </tr>
              <tr>
                <td class="border dark:border-black py-1 px-3 text-center">6</td>
                <td class="border dark:border-black py-1 px-3">Olahraga</td>
                <td class="border dark:border-black py-1 px-3">Sepak takraw</td>
                <td class="border dark:border-black py-1 px-3">Muhammad Ikhsan, S.Pd</td>
                <td class="border dark:border-black py-1 px-3 text-center">10</td>
                <td class="border dark:border-black py-1 px-3">Dilanjutkan</td>
              </tr>
              <tr>
                <td class="border dark:border-black py-1 px-3 text-center">7</td>
                <td class="border dark:border-black py-1 px-3">Olahraga</td>
                <td class="border dark:border-black py-1 px-3">Tenis Meja</td>
                <td class="border dark:border-black py-1 px-3">Akhmad Zaini</td>
                <td class="border dark:border-black py-1 px-3 text-center">10</td>
                <td class="border dark:border-black py-1 px-3">Dilanjutkan</td>
              </tr>
              <tr>
                <td class="border dark:border-black py-1 px-3 text-center">8</td>
                <td class="border dark:border-black py-1 px-3">Minat dan Bakat</td>
                <td class="border dark:border-black py-1 px-3">BSMR</td>
                <td class="border dark:border-black py-1 px-3">Anang Rachyudi, S.Kep</td>
                <td class="border dark:border-black py-1 px-3 text-center">30</td>
                <td class="border dark:border-black py-1 px-3">Dilanjutkan</td>
              </tr>
              <tr>
                <td class="border dark:border-black py-1 px-3 text-center">9</td>
                <td class="border dark:border-black py-1 px-3">Minat dan Bakat</td>
                <td class="border dark:border-black py-1 px-3">Desain Grafis</td>
                <td class="border dark:border-black py-1 px-3">M.S. Haromain, S.Kom</td>
                <td class="border dark:border-black py-1 px-3 text-center">9</td>
                <td class="border dark:border-black py-1 px-3">Dilanjutkan</td>
              </tr>
              <tr class="bg-yellow-300 dark:bg-yellow-500">
                <td class="border dark:border-black py-1 px-3 text-center">10</td>
                <td class="border dark:border-black py-1 px-3">Minat dan Bakat</td>
                <td class="border dark:border-black py-1 px-3">Hifzhul Hadits</td>
                <td class="border dark:border-black py-1 px-3">Hasanuddin, S.Pd.I</td>
                <td class="border dark:border-black py-1 px-3 text-center">4</td>
                <td class="border dark:border-black py-1 px-3">Kondisional</td>
              </tr>
              <tr>
                <td class="border dark:border-black py-1 px-3 text-center">11</td>
                <td class="border dark:border-black py-1 px-3">Minat dan Bakat</td>
                <td class="border dark:border-black py-1 px-3">Kopling</td>
                <td class="border dark:border-black py-1 px-3">Priyo Widodo, S.Pi</td>
                <td class="border dark:border-black py-1 px-3 text-center">33</td>
                <td class="border dark:border-black py-1 px-3">Dilanjutkan</td>
              </tr>
              <tr class="bg-yellow-300 dark:bg-yellow-500">
                <td class="border dark:border-black py-1 px-3 text-center">12</td>
                <td class="border dark:border-black py-1 px-3">Minat dan Bakat</td>
                <td class="border dark:border-black py-1 px-3">Mustholahul Hadits</td>
                <td class="border dark:border-black py-1 px-3">Irpan Halim, Lc., M.Pd</td>
                <td class="border dark:border-black py-1 px-3 text-center">- <br> (Hibernasi)</td>
                <td class="border dark:border-black py-1 px-3">Kondisional</td>
              </tr>
              <tr>
                <td class="border dark:border-black py-1 px-3 text-center">13</td>
                <td class="border dark:border-black py-1 px-3">Minat dan Bakat</td>
                <td class="border dark:border-black py-1 px-3">Pramuka</td>
                <td class="border dark:border-black py-1 px-3">Afirul Firman Syadani, SH., Muh. Ikhsan, S.Pd. dan Aam
                  Hamdani, S.Pd.</td>
                <td class="border dark:border-black py-1 px-3 text-center">35</td>
                <td class="border dark:border-black py-1 px-3">Dilanjutkan</td>
              </tr>
              <tr>
                <td class="border dark:border-black py-1 px-3 text-center">14</td>
                <td class="border dark:border-black py-1 px-3">Sains dan Teknologi</td>
                <td class="border dark:border-black py-1 px-3">Fisika</td>
                <td class="border dark:border-black py-1 px-3">Deden Anugrah, M.P.Fis</td>
                <td class="border dark:border-black py-1 px-3 text-center">19</td>
                <td class="border dark:border-black py-1 px-3">Dilanjutkan</td>
              </tr>
              <tr>
                <td class="border dark:border-black py-1 px-3 text-center">15</td>
                <td class="border dark:border-black py-1 px-3">Sains dan Teknologi</td>
                <td class="border dark:border-black py-1 px-3">Kimia</td>
                <td class="border dark:border-black py-1 px-3">Suharyadi, M.Pd., Gr</td>
                <td class="border dark:border-black py-1 px-3 text-center">42</td>
                <td class="border dark:border-black py-1 px-3">Dilanjutkan</td>
              </tr>
              <tr>
                <td class="border dark:border-black py-1 px-3 text-center">16</td>
                <td class="border dark:border-black py-1 px-3">Sains dan Teknologi</td>
                <td class="border dark:border-black py-1 px-3">Karya Ilmiah Remaja (KIR)</td>
                <td class="border dark:border-black py-1 px-3">Azhar Faturohman A., S.Si dan Ir. Rayis Syamlan</td>
                <td class="border dark:border-black py-1 px-3 text-center">20</td>
                <td class="border dark:border-black py-1 px-3">Dilanjutkan</td>
              </tr>
              <tr>
                <td class="border dark:border-black py-1 px-3 text-center">17</td>
                <td class="border dark:border-black py-1 px-3">Sains dan Teknologi</td>
                <td class="border dark:border-black py-1 px-3">Koding</td>
                <td class="border dark:border-black py-1 px-3">Azhar Faturohman A., S.Si</td>
                <td class="border dark:border-black py-1 px-3 text-center">37</td>
                <td class="border dark:border-black py-1 px-3">Dilanjutkan</td>
              </tr>
              <tr class="bg-yellow-300 dark:bg-yellow-500">
                <td class="border dark:border-black py-1 px-3 text-center">18</td>
                <td class="border dark:border-black py-1 px-3">Sains dan Teknologi</td>
                <td class="border dark:border-black py-1 px-3">Koding Plasma</td>
                <td class="border dark:border-black py-1 px-3">Alif Rezky, M.Pd</td>
                <td class="border dark:border-black py-1 px-3 text-center">75</td>
                <td class="border dark:border-black py-1 px-3">Kondisional</td>
              </tr>
              <tr>
                <td class="border dark:border-black py-1 px-3 text-center">19</td>
                <td class="border dark:border-black py-1 px-3">Sains dan Teknologi</td>
                <td class="border dark:border-black py-1 px-3">Matematika</td>
                <td class="border dark:border-black py-1 px-3">Hario Sadewo, S.Si</td>
                <td class="border dark:border-black py-1 px-3 text-center">16</td>
                <td class="border dark:border-black py-1 px-3">Dilanjutkan</td>
              </tr>
              <tr>
                <td class="border dark:border-black py-1 px-3 text-center">20</td>
                <td class="border dark:border-black py-1 px-3">Bahasa</td>
                <td class="border dark:border-black py-1 px-3">Bahasa Arab</td>
                <td class="border dark:border-black py-1 px-3">Irpan Halim, Lc., M.H</td>
                <td class="border dark:border-black py-1 px-3 text-center">28</td>
                <td class="border dark:border-black py-1 px-3">Dilanjutkan</td>
              </tr>
              <tr class="bg-red-500">
                <td class="border dark:border-black py-1 px-3 text-center">21</td>
                <td class="border dark:border-black py-1 px-3">Bahasa</td>
                <td class="border dark:border-black py-1 px-3">Bahasa Inggris</td>
                <td class="border dark:border-black py-1 px-3">-</td>
                <td class="border dark:border-black py-1 px-3 text-center">- <br> (Hibernasi)</td>
                <td class="border dark:border-black py-1 px-3">Tidak Dilanjutkan</td>
              </tr>
              <tr class="bg-yellow-300 dark:bg-yellow-500">
                <td class="border dark:border-black py-1 px-3 text-center">22</td>
                <td class="border dark:border-black py-1 px-3">Bahasa</td>
                <td class="border dark:border-black py-1 px-3">Literasi</td>
                <td class="border dark:border-black py-1 px-3">Mustaani, M.Pd</td>
                <td class="border dark:border-black py-1 px-3 text-center">10</td>
                <td class="border dark:border-black py-1 px-3">Kondisional</td>
              </tr>
              <tr class="bg-red-500">
                <td class="border dark:border-black py-1 px-3 text-center">23</td>
                <td class="border dark:border-black py-1 px-3">Bahasa</td>
                <td class="border dark:border-black py-1 px-3">Jurnalistik</td>
                <td class="border dark:border-black py-1 px-3">-</td>
                <td class="border dark:border-black py-1 px-3 text-center">- <br> (Hibernasi)</td>
                <td class="border dark:border-black py-1 px-3">Tidak Dilanjutkan</td>
              </tr>
              <tr>
                <td class="border dark:border-black py-1 px-3 text-center">24</td>
                <td class="border dark:border-black py-1 px-3">Beladiri</td>
                <td class="border dark:border-black py-1 px-3">Taekwondo</td>
                <td class="border dark:border-black py-1 px-3">Khairil Mahmudin</td>
                <td class="border dark:border-black py-1 px-3 text-center">5</td>
                <td class="border dark:border-black py-1 px-3">Dilanjutkan</td>
              </tr>
              <tr>
                <td class="border dark:border-black py-1 px-3 text-center">25</td>
                <td class="border dark:border-black py-1 px-3">Beladiri</td>
                <td class="border dark:border-black py-1 px-3">Thifan Po Khan</td>
                <td class="border dark:border-black py-1 px-3">Zaki Fauzan, S.Pd.I</td>
                <td class="border dark:border-black py-1 px-3 text-center">?</td>
                <td class="border dark:border-black py-1 px-3">Dilanjutkan</td>
              </tr>
              <tr>
                <td class="border dark:border-black py-1 px-3 text-center">26</td>
                <td class="border dark:border-black py-1 px-3">Seni</td>
                <td class="border dark:border-black py-1 px-3">Kaligrafi</td>
                <td class="border dark:border-black py-1 px-3">Subakti, S.Pd.I</td>
                <td class="border dark:border-black py-1 px-3 text-center">5</td>
                <td class="border dark:border-black py-1 px-3">Dilanjutkan</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="my-4">
          <p>Keterangan:</p>
          <p class="text-green-500 font-bold">Dilanjutkan sebanyak 20 Ekskul/SC</p>
          <p class="text-yellow-500 font-bold">Kondisional sebanyak 4 Ekskul/SC</p>
          <p class="text-red-500 font-bold">Tidak Dilanjutkan sebanyak 2 Ekskul/SC</p>
        </div>
      </article>

    </div>
  </main>

  <footer class="bg-gray-100 dark:bg-black sm:ml-64">
    <div class="mx-auto max-w-5xl px-4 py-4 sm:px-6 lg:px-8">
      <p class="mx-auto mt-6 max-w-md text-center leading-relaxed text-gray-500">
        Pengembangan Minat, Bakat dan Pembinaan Prestasi (PMBP) SMAS IT Al
        BINAA <br />
        &copy;2024 <br />
      </p>
    </div>
  </footer>

  <script src="{% static 'js/dashboard.js' %}"></script>
  <!-- <script src="dashboard.js"></script> -->
</body>

</html>