{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>SITE UNDER MAINTENANCE</title>
  <meta name="theme-color" content="#89c4ec" />
  <meta property="og:locale" content="en_US" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="SITE UNDER MAINTENANCE" />
  <meta property="og:site_name" content="SITE UNDER MAINTENANCE" />
  <link rel="stylesheet" href="{% static 'css/build.css' %}">
</head>

<body class="bg-gray-100 dark:bg-black dark:text-gray-200">
    <main class="p-4 overflow-auto my-4">
        <div class="flex flex-col justify-center items-center">
            <h1 style="font-size: 100px;">&#9881; &#128295;</h1>
            <p class="text-center">Maintenance Mode</p>
            <h2 class="text-2xl text-center text-balance">Kami sedang melakukan pemeliharaan sistem.</h2>
            <h2 class="text-2xl text-center text-balance">Proses Merger Besar 3 Aplikasi (PMBP, Humas dan Piket) menjadi <strong>smasit.albinaa.sch.id</strong></h2>
            <p class="text-center text-balance">Silakan kembali nanti.</p>
        </div>
    </main>

</body>
</html>