{% extends 'base.html' %}
{% block content %}
    <section id="menu" class="container vw-100 vh-100 pt-2">
    <div class="container text-center my-5 pt-5">
        {% if home_data %}
        <h2 class="text-center pt-4">{{ home_data.first.nama_bidang }}</h2>
        <p class="card-text">{{ home_data.first.deskripsi }}</p>
        <div class="d-flex flex-wrap justify-content-center">
            {% for app_datum in app_data %}
            {% if app_datum.app == home_data.first %}
            <a href="{% with app_datum.url as link %}{% url link %}{% endwith %}" class="m-1 btn btn-{{ app_datum.color }} text-start">
                <div class="d-flex flex-column text-center align-items-center" style="width:80px">
                    <i class="{{ app_datum.icon }}"></i>
                    <span>{{ app_datum }}</span>
                </div>
            </a>
            {% endif %}
            {% endfor %}
        </div>
        {% endif %}
    </div>
</section>
{% endblock %}
