{% extends 'new_base.html' %}
{% block content %}
{% load static %}
{% include 'new_navbar.html'%}
{% include 'new_sidebar.html'%}
<main id="main" class="main">
    <section class="section dashboard">
        <div class="pagetitle">
            {% if edit %}
            <h1>Edit Laporan Pembinaan {{ ekskul.nama_ekskul }}</h1>
            <nav>
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="{% url 'dashboard' %}"><i class="bi bi-house"></i> Home</a></li>
                  <li class="breadcrumb-item">{{ ekskul.get_tipe_display }}</li>
                  <li class="breadcrumb-item active">Edit Laporan</li>
                </ol>
            </nav>
            {% else %}
            <h1>Input Laporan Pembinaan {{ ekskul.nama_ekskul }}</h1>
            <nav>
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="{% url 'dashboard' %}"><i class="bi bi-house"></i> Home</a></li>
                  <li class="breadcrumb-item">{{ ekskul.get_tipe_display }}</li>
                  <li class="breadcrumb-item active">Input Laporan</li>
                </ol>
            </nav>
            {% endif %}
        </div>

        <div class="container">
            <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center">
              <div class="container">
                <div class="row justify-content-center">
                  <div class="col-xl-6 col-lg-6 col-md-8 d-flex flex-column align-items-center justify-content-center">
                      {% if messages %}
                          {% for message in messages %}
                              {% if message.tags == 'success' %}
                              <div class="alert alert-success alert-dismissible fade show" role="alert">
                                          {{ message }}
                                  <a href="{% url 'laporan:laporan-ekskul' ekskul.slug %}" class="btn btn-sm btn-primary">Lihat Hasil</a>
                                  <a href="{% url 'laporan:laporan-index' %}" class="btn btn-sm btn-danger"> &lt; Dashboard</a>
                              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                              </div>
                              {% else %}
                              <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                          {{ message }}
                              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                              </div>
                              {% endif %}
                          {% endfor %}
                      {% endif %}
      
                    <div class="card mb-3">
                      <div class="pt-3 pb-2">
                        <h5 class="card-title text-center pb-0 fs-4">Laporan Kehadiran Ekskul {{ ekskul.nama_ekskul }}</h5>
                      </div>
      
                      <div class="card-body">
            <form action="" method="post" id="form" enctype="multipart/form-data">
                {% csrf_token %}
                
                {% if filtered_student %}

                    <p class="field">
                        <label for="id_nama_ekskul">Nama ekskul:</label>
                        <select name="nama_ekskul" required id="id_nama_ekskul" class="form-control">
                            <option value="{{ ekskul.id }}">{{ ekskul.nama_ekskul }}</option>
                        </select>
                    </p>
                    <p class="field">
                        <label for="id_pembina_ekskul">Pembina Ekskul:</label>
                        <select name="pembina_ekskul" required id="id_pembina_ekskul" class="form-select">
                            {% for guru in ekskul.pembina.all %}
                                <option value="{{ guru.id }}">{{ guru }}</option>
                            {% endfor %}
                        </select>
                    </p>
                    <p class="field">
                        <label for="id_tanggal_pembinaan">Tanggal Pembinaan:</label>
                        <input type="date" name="tanggal_pembinaan" required id="id_tanggal_pembinaan" class="form-control">
                    </p>
                    <p class="field">
                        <label for="id_kehadiran_santri">Kehadiran santri:</label>
                        <select name="kehadiran_santri" required id="id_kehadiran_santri" multiple class="form-control">
                            {% for student in filtered_student %}
                            <option value="{{ student.id }}">{{ student.siswa }}</option>
                            {% endfor %}
                        </select>
                    </p>
                    <p class="field">
                        <label for="id_catatan_pembinaan">Foto Pembinaan:</label>
                        {{ form.foto }}
                    </p>
                    <p class="field">
                        <label for="id_foto">Catatan Pembinaan:</label>
                        {{ form.catatan_pembinaan }}
                    </p>
                {% elif edit %}
                    {{ form }}

                {% else %}
                    <p class="text-danger ">Maaf, Silahkan input data anggota ekskul terlebih dahulu agar anda dapat input laporan. Terima kasih. :)</p>
                {% endif %}
                <div class="text-center">
                    {% if filtered_student or edit %}
                        <a id="back" href="{% url 'laporan:laporan-index' %}" class="card-link btn btn-danger m-1">Kembali</a>
                        <input onsubmit="myFunction()" id="save" type="submit" class="card-link btn btn-success m-1" value="Save Data">
                        <button id="loading" class="btn btn-success" type="button" style="display: none" disabled>
                            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                            Loading...
                        </button>
                    {% else %}
                        <a href="{% url 'laporan:laporan-index' %}" class="card-link btn btn-danger m-1">Kembali</a>
                        <a href="{% url 'ekskul:input-anggota' ekskul.slug %}" class="card-link btn btn-primary m-1">Input Anggota {{ ekskul.nama }}</a>
                    {% endif %}
                </div>
            </form>
        </div>
    </div>
    </div>
</div>
</section>
</div>
    </section>
</main>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/standalone/selectize.min.js" integrity="sha256-+C0A5Ilqmu4QcSPxrlGpaZxJ04VjsRjKu+G82kl5UJk=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/css/selectize.bootstrap3.min.css" integrity="sha256-ze/OEYGcFbPRmvCnrSeKbRTtjG4vGLHXgOqsyLFTRjg=" crossorigin="anonymous" />
<script>
    $(document).ready(() => {
        $('#id_kehadiran_santri').selectize({
            sortField: 'text',
            maxItems: null,
        });
    });
</script> -->
<script type="text/javascript">

    var select = $('<input type="button" id="select_all" name="select_all" value="Pilih semua" class="btn btn-sm btn-primary float-end my-2">');
    var unselect = $('<input type="button" id="unselect_all" name="unselect_all" value="Hapus semua" class="btn btn-sm btn-primary float-end my-2">');
    $('#id_kehadiran_santri').before(select, unselect);

    $('#unselect_all').hide()
    $('#select_all').click(function() {
        $('#id_kehadiran_santri option').prop('selected', true);
        $('#unselect_all').show()
        $(this).hide()
    });

    $('#unselect_all').click(function() {
        $('#id_kehadiran_santri option').prop('selected', false);
        $('#select_all').show()
        $(this).hide()
    });


</script>
{% include 'script.html' %}
{% endblock %}