{% extends 'new_base.html' %}
{% block content %} {% load static %}
{% include 'new_navbar.html'%}
{% include 'new_sidebar.html'%}
<main id="main" class="main">
  <section class="section dashboard">
    <div class="pagetitle">
        <h1>Program Prestasi SMA IT Al Binaa</h1>
        <h2>Tahun Ajaran 2023-2024</h2>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'dashboard' %}"><i class="bi bi-house"></i> Home</a></li>
          <li class="breadcrumb-item">Prestasi</li>
          <li class="breadcrumb-item active">Program Prestasi</li>
        </ol>
      </nav>
    </div>

    <div class="text-center">
        <h3>Program Prestasi SMA IT Al Binaa Tahun Ajaran 2023-2024</h3>
        <a href="{% url 'prestasi:program-prestasi-input' %}" class="btn btn-sm btn-warning">Input Program</a>
        <a href="{% url 'prestasi:program-print-to-excel' %}" class="btn btn-sm btn-success">Download Excel</a>
        <a class="m-3 btn btn-sm btn-danger" href="{% url 'dashboard' %}">Kembali</a>
    </div>

    <div class="container">
        <table class="table table-hover w-100">
            <thead>
            <tr>
                <th scope="col">No.</th>
                <th scope="col">Program Prestasi</th>
                <th scope="col">Tanggal</th>
                <th scope="col">Nama Peserta</th>
                <th scope="col">Pencapaian</th>
                <th scope="col">Catatan</th>
                {% if request.user.is_superuser %}
                <th scope="col">Aksi</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% if object_list %}
                {% for data in object_list %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ data.program_prestasi }}</td>
                        <td>{{ data.tanggal }}</td>
                        <td>
                            {% for peserta in data.nama_peserta.all %}
                            <p class="p-0 m-0">{{ peserta.nama_siswa }}</p>
                            {% endfor %}
                        </td>
                        <td>{{ data.pencapaian }}</td>
                        <td>{{ data.catatan }}</td>
                        {% if request.user.is_superuser %}
                        <td>
                        <a href="{% url 'prestasi:program-prestasi-edit' data.id %}" class="btn btn-sm btn-warning my-1" title="Edit">
                            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                            </svg>
                        </a>
                        <a href="{% url 'prestasi:program-prestasi-delete' data.id %}" class="btn btn-sm btn-danger my-1" title="Delete">
                            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                            </svg>
                        </a>
                    </td>
                    {% endif %}
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="6" class="text-center fw-bold text-danger">Maaf, belum ada data</td>
                </tr>
            {% endif %}
            </tbody>
        </table>
    </div>
  </section>
</main>

{% endblock %}