{% extends 'new_base.html' %}
{% block content %}
{% load static %}
{% include 'new_navbar.html'%}
{% include 'new_sidebar.html'%}

<main id="main" class="main">
    <section class="section dashboard">
        <div class="pagetitle">
            {% if edit %}
            <h1>Edit Nilai {{ ekskul.nama_ekskul }}</h1>
            <nav>
                <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'dashboard' %}"><i class="bi bi-house"></i> Home</a></li>
                <li class="breadcrumb-item">{{ekskul.get_tipe_display}}</li>
                <li class="breadcrumb-item active">Edit Nilai</li>
                </ol>
            </nav>
            {% else %}
            <h1>Input Nilai {{ ekskul.nama_ekskul }}</h1>
            <nav>
                <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'dashboard' %}"><i class="bi bi-house"></i> Home</a></li>
                <li class="breadcrumb-item">{{ekskul.get_tipe_display}}</li>
                <li class="breadcrumb-item active">Input Nilai</li>
                </ol>
            </nav>
            {% endif %}
        </div>
    </section>
    <div class="container">
      <section class="section register">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-6 col-md-8 d-flex flex-column align-items-center justify-content-center">
                {% if messages %}
                    {% for message in messages %}
                        {% if message.tags == 'success' %}
                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                                    {{ message }}
                            <a href="{% url 'nilai:nilai-detail' ekskul.slug %}" class="btn btn-sm btn-primary">Lihat Hasil</a>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                        {% else %}
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                    {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}

              <div class="card mb-3">
                <div class="pt-3 pb-2">
                  <h5 class="card-title text-center pb-0 fs-4">Nilai {{ekskul.get_tipe_display}} {{ ekskul.nama_ekskul }}</h5>
                </div>

                <div class="card-body">
                    <form action="" method="post">
                        {% csrf_token %}
                        {% if siswa %}
                            <div class="field">

                                <p>
                                    <label for="id_siswa">Siswa:</label>
                                    <select name="siswa" class="form-select" required id="id_siswa">
                                        <option value="" selected>Ketik/Pilih nama santri</option>
                                        {% if edit %}
                                            <option value="{{ siswa.id }}" selected>{{ siswa.siswa.siswa }}</option>
                                        {% else %}
                                            {% for santri in siswa %}
                                                <option value="{{ santri.id }}">{{ santri.siswa }}</option>
                                            {% endfor %}
                                        {% endif %}
                                    </select>
                                </p>
                                <p>
                                    <label for="id_nilai">Nilai:</label>
                                    {{forms.nilai}}
                                </p>
                            </div>
                        {% else %}
                            <h3 class="text-danger">Maaf, sistem kami mendeteksi anda belum input data anggota ekskul.
                                Silahkan input data anggota ekskul terlebih dahulu sebelum input nilai</h3>
                        {% endif %}
                            <div class="text-center">
                                {% if siswa %}
                                    <a href="{% url 'nilai:nilai-index' %}" class="card-link btn btn-danger m-1">Kembali</a>
                                    <input type="submit" class="card-link btn btn-success m-1" value="Save Data">
                                {% else %}
                                    <a href="{% url 'nilai:nilai-index' %}" class="card-link btn btn-danger m-1">Kembali</a>
                                    <a href="{% url 'ekskul:input-anggota' ekskul.slug %}" class="card-link btn btn-primary m-1">Input Anggota {{ ekskul.nama }}</a>
                                {% endif %}
                            </div>
                        </form>

                    </div>
                </div>
                </div>
            </div>
        </section>
        </div>
    </section>
  </main>
  <!-- End #main -->


  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/standalone/selectize.min.js" integrity="sha256-+C0A5Ilqmu4QcSPxrlGpaZxJ04VjsRjKu+G82kl5UJk=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/css/selectize.bootstrap3.min.css" integrity="sha256-ze/OEYGcFbPRmvCnrSeKbRTtjG4vGLHXgOqsyLFTRjg=" crossorigin="anonymous" />
    <script>
        $(document).ready(function () {
            $('#id_siswa').selectize({
                sortField: 'text'
            });
        });
    </script>


{% endblock %}