{% extends 'new_base.html' %} 
{% block content %} {% load static %} 
{% include 'new_navbar.html'%} 
{% include 'new_sidebar.html'%}
<main id="main" class="main">
  <section class="section dashboard">
    <div class="pagetitle">
      <h1>Laporan Ekstrakurikuler dan <em>Study Club</em> SMA IT Al Binaa</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{% url 'dashboard' %}"><i class="bi bi-house"></i> Home</a>
          </li>
          <li class="breadcrumb-item">Ekstrakurikuler</li>
          <li class="breadcrumb-item active">Laporan Ekskul/SC</li>
        </ol>
      </nav>
    </div>

    <div class="container text-center">
      <div class="d-flex flex-wrap justify-content-center">
        <div class="row">
          <!-- Sales Card -->
          {% if object_list %} 
          {% for data in object_list %}
          <div class="col-xxl-4 col-md-4">
            <div class="card border-success">
              <div class="card-header p-0 text-bg-success">
                <img
                  src="{{data.logo.url}}"
                  class="card-img-top"
                  alt="Logo Ekskul"
                />
                <p class="text-center m-0">{{ data.get_tipe_display }}</p>
              </div>
              <div class="card-body">
                <h5 class="card-title text-primary">{{ data.nama_ekskul }}</h5>
                {% for pembina in data.pembina.all %}
                <h6 class="card-subtitle mb-2">{{ pembina }}</h6>
                {% endfor %}
                <p class="p-0 m-0">
                  Jadwal Pertemuan: {{ data.jadwal }} {{ data.waktu }}
                </p>
                <p class="card-text p-0 m-0">
                  Total laporan Kehadiran : {{ data.report_set.count }}
                </p>
              </div>
              <div class="card-footer border-success">
                {% if request.user.is_authenticated %}
                  {% if not request.user.is_superuser %}
                    {% for pembina in data.pembina.all %}
                      {% if request.user.teacher.nama_pembina == pembina.nama_pembina  %}
                      <a
                        href="{% url 'laporan:laporan-input' data.slug %}"
                        class="btn btn-sm btn-danger m-1"
                        >Input Kehadiran</a
                      >
                      <a id="saveAsPdfBtn" href="https://www.sejda.com/html-to-pdf?save-link=https://pmbp.smasitalbinaa.com{% url 'laporan:laporan-pdf' data.slug %}&pageSize=A4&delay=5&pageOrientation=portrait&pageMargin=50px" class="btn btn-sm btn-success">Save as PDF</a>
                      <a
                      href="{% url 'laporan:laporan-print' data.slug %}"
                      class="btn btn-sm btn-success m-1"
                      >Print Laporan</a
                      >
                      {% endif %}
                      {% endfor %}
                      {% else %}
                      <a
                      href="{% url 'laporan:laporan-input' data.slug %}"
                      class="btn btn-sm btn-danger m-1"
                      >Input Kehadiran</a
                      >
                      <a id="saveAsPdfBtn" href="https://www.sejda.com/html-to-pdf?save-link=https://pmbp.smasitalbinaa.com{% url 'laporan:laporan-pdf' data.slug %}&pageSize=A4&delay=5$pageOrientation=portrait&pageMargin=50px" class="btn btn-sm btn-success">Save as PDF</a>
                      <a
                        href="{% url 'laporan:laporan-print' data.slug %}"
                        class="btn btn-sm btn-success m-1"
                        >Print Laporan</a
                      >
                  {% endif %}
                {% endif %}
                <a
                  href="{% url 'laporan:laporan-ekskul' data.slug %}"
                  class="btn btn-sm btn-secondary m-1"
                  >Rekap Laporan</a
                >
              </div>
            </div>
          </div>
          {% endfor %} 
          {% endif %}
        </div>
      </div>
    </div>
  </section>
</main>


<script>

  data = document.getElementById('saveAsPdfBtn')
document.getElementById('saveAsPdfBtn').addEventListener('click', function(e){
  // var pageUrl = encodeURIComponent(data.href);
  // console.log(pageUrl)

  // var opts = ['save-link=' + pageUrl, 'pageOrientation=auto'];
  // window.open('https://www.sejda.com/html-to-pdf?' + opts.join('&'));
  window.open(pageUrl)
  e.preventDefault();
});
</script>

{% endblock %}
