{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container mt-4 pt-3 text-center">
        <div class="row justify-content-center align-items-center mt-5">
            <div class="col-md-4 mt-2">
                <img src="{{ data.pembimbing.foto.url }}" alt="Foto Profil Ustadz" style="max-height: 10rem; max-width: 10rem;">
            </div>
            <div class="col-md-4 mt-2">
                <h2>OSN {{ data.nama_bidang }} 2023</h2>
                <h6>Ustadz {{ data.pembimbing }}</h6>
                <h6>{{ data.pembimbing.email }}</h6>
                {% if data.pembimbing.no_hp %}
                    <h6>+62{{ data.pembimbing.no_hp }}</h6>
                {% else %}
                    <h6 class="text-danger">No. hp belum ada</h6>
                {% endif %}

                <h6>Jadwal pertemuan: {{ data.jadwal_bimbingan}}</h6>

            </div>
            {% if request.user.is_authenticated %}
                {% if request.user.teacher == data.pembimbing %}
                    <div class="col-md-4 mt-2 text-center">
                        <a href="{% url 'osn:siswa-osn-input' data.slug %}" class="btn btn-sm btn-primary d-block m-1">Input data siswa OSN
                            {{ data.nama_bidang }}</a>
                        <a href="{% url 'osn:laporan-osn-input' data.slug %}" class="btn btn-sm btn-primary d-block m-1">Input laporan OSN
                            {{ data.nama_bidang }}</a>
                        <a href="{% url 'osn:osn-index' %}" class="btn btn-sm btn-danger d-block m-1">< Kembali</a>
                    </div>
                {% else %}
                    <a href="{% url 'osn:osn-index' %}" class="btn btn-sm btn-danger d-block m-1">< Kembali</a>
                {% endif %}
            {% endif %}
        </div>
        <div class="row align-item-center mt-2">
            <div class="col-sm">
                <table class="table table-hover w-100">
                    <thead>
                    <tr>
                        <th scope="col">No.</th>
                        <th scope="col">Nama Santri</th>
                        <th scope="col">NIS</th>
                        <th scope="col">Kelas</th>
                        {% if request.user.is_authenticated %}
                        <th scope="col">Aksi</th>
                        {% endif %}
                    </tr>
                    </thead>
                    <tbody>
                    {% if data_siswa %}
                        {% for student in data_siswa %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td class="text-start">{{ student.nama_siswa.nama_siswa}}</td>
                                <td>{{ student.nama_siswa.nis}}</td>
                                <td>{{ student.nama_siswa.kelas }}</td>
                                {% if request.user.is_authenticated %}
                                <td><a href="{% url 'osn:siswa-osn-delete' data.slug student.nama_siswa.id %}" class="btn btn-sm btn-danger">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                    </svg>
                                </a></td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="5" class="text-center fw-bold text-danger">Maaf, belum ada anggota :(</td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row align-item-center mt-2">
            <div class="col-sm">
                <table class="table table-hover w-100">
                    <thead>
                    <tr>
                        <th scope="col">No.</th>
                        <th scope="col">Tanggal</th>
                        <th scope="col">Kehadiran Santri</th>
                        <th scope="col">Foto</th>
                        <th scope="col">Aksi</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if data_laporan %}
                        {% for laporan in data_laporan %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ laporan.tanggal_pembinaan}}</td>
                                <td>{{ laporan.kehadiran_santri.count}} orang</td>
                                <td><img src="{{ laporan.foto_bimbingan.url }}" alt="Foto Bimbingan" style="max-height: 5rem; max-width: 5rem;"></td>
                                <td>
                                    <button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal{{ laporan.id }}">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                                        </svg>
                                    </button>
                                    {% if request.user.is_authenticated %}
                                    <a href="{% url 'osn:laporan-osn-edit' data.slug laporan.id %}" class="btn btn-sm btn-warning my-1" title="Edit">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                            <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                                        </svg>
                                    </a>
                                    <a href="{% url 'osn:laporan-osn-delete' data.slug laporan.id %}" class="btn btn-sm btn-danger">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                            <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                        </svg>
                                    </a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="5" class="text-center fw-bold text-danger">Maaf, belum ada anggota :(</td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    {% for laporan in data_laporan %}
        <div class="modal fade" id="exampleModal{{ laporan.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Detail Laporan</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <table class="table table-hover">
                            <tbody>
                            <tr>
                                <td>Bidang OSN</td>
                                <td>:</td>
                                <td>{{ laporan.bidang_osn }}</td>
                            </tr>
                            <tr>
                                <td>Pembimbing</td>
                                <td>:</td>
                                <td>{{ laporan.pembimbing_osn }}</td>
                            </tr>
                            <tr>
                                <td>Tanggal Bimbingan</td>
                                <td>:</td>
                                <td>{{ laporan.tanggal_pembinaan }}</td>
                            </tr>
                            <tr>
                                <td>Santri yang hadir</td>
                                <td>:</td>
                                <td>
                                    {% for santri in laporan.kehadiran_santri.all %}
                                        <p class="m-2">
                                            {{ forloop.counter }}. {{ santri.nama_siswa.nama }} ({{ santri.nama_siswa.kelas }})
                                        </p>
                                    {% endfor %}
                                </td>
                            </tr>
                            <tr>
                                <td>Foto Pembinaan</td>
                                <td>:</td>
                                <td>
                                    <img class="m-1" src="{{ laporan.foto_bimbingan.url }}" height="100%" width="100%">
                                </td>
                            </tr>
                            <tr>
                                <td>Materi Pembinaan</td>
                                <td>:</td>
                                <td>
                                    {{ laporan.materi_pembinaan }}
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}


{% endblock %}