{% extends 'base.html' %}

{% block content %}
    <div class="container mt-5 pt-4">
        {% if teacher %}
            <div class="row justify-content-center align-items-center">
                <div class="col-sm text-center my-2">
                    <img src="{{ teacher.foto.url }}" width="50%" height="50%" class="shadow-lg" style="border-radius: 20px;">
                </div>
                <div class="col-sm my-2">
                    <h3>{{ teacher }}</h3>
                    <h4>
                        <span class="badge bg-secondary">{{ teacher.user.username }}</span>
                    </h4>
                    <h5>{{ teacher.get_jenis_kelamin_display }}</h5>
                    {% if teacher.niy %}
                        <h4>NIY : {{ teacher.niy }}</h4>
                    {% else %}
                        <h6 class="text-danger">NIY : -</h6>
                    {% endif %}
                    <h5>{{ teacher.email }}</h5>
                    {% if teacher.no_hp %}
                        <h5>{{ teacher.no_hp }}</h5>
                    {% else %}
                        <h6 class="text-danger">No HP belum diisi</h6>
                    {% endif %}
                    <h5>{{ teacher.jabatan }}</h5>
                    {% if teacher.alamat %}
                        <h5>{{ teacher.alamat }}</h5>
                    {% endif %}
                    {% if request.user.is_authenticated %}
                        <a class="btn btn-sm btn-danger fw-bold p-2 my-2" href="{% url 'logout' %}">Logout</a>
                    {% endif %}
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}