{% extends 'base.html' %}

{% block content %}
  <main class="p-4 sm:ml-64 overflow-auto">
    <h1 class="px-2 text-2xl font-bold text-blue-500 dark:text-white">User Detail</h1>
    <!-- Breadcrumb -->
    <div class="flex items-center gap-2">
      <a href="{% url 'dashboard' %}" class="pl-2">Dashboard</a>
      <p class="text-2xl">
        &triangleright;
      </p>
      <a href="{% url 'user-list' %}">User List</a>
      <p class="text-2xl">
        &triangleright;
      </p>
      <a href="">User Detail</a>
    </div>


    <div class="grid grid-cols-1">
      <!-- Analytics Table -->
      <div class="p-4 mx-2 my-4 bg-white dark:bg-slate-800 rounded-md shadow-lg overflow-auto">
        <h2 class="my-2 text-center text-xl font-semibold">Detail Data User</h2>
        <div class="grid grid-cols-2">
          <p class="p-1 border-b text-green-500 font-bold">Username
          <p class="p-1 border-b">: {{object.username|default:"-"}}</p>
          <p class="p-1 border-b text-green-500 font-bold">First Name
          <p class="p-1 border-b">: {{object.first_name|default:"-"}}</p>
          <p class="p-1 border-b text-green-500 font-bold">Last Name
          <p class="p-1 border-b">: {{object.last_name|default:"-"}}</p>
          <p class="p-1 border-b text-green-500 font-bold">Email
          <p class="p-1 border-b ">: {{object.email|default:"-"}}</p>
          <p class="p-1 border-b text-green-500 font-bold">Date Joined
          <p class="p-1 border-b">: {{object.date_joined|date:"l d F Y H:i"|default:"-"}}</p>
          <p class="p-1 border-b text-green-500 font-bold">Last Login
          <p class="p-1 border-b">: {{object.last_login|date:"l d F Y H:i"|default:"-"}}</p>
          <p class="p-1 border-b text-green-500 font-bold">Group
          <p class="p-1 border-b">: {{object.groups.all|join:", "|default:"-"}}</p>
          <p class="p-1 border-b text-green-500 font-bold">Permission
          <p class="p-1 border-b">: {{object.user_permissions.all|join:", "|default:"-"}}</p>
        </div>
      </div>
    </div>

  </main>
{% endblock content %}