{% extends 'base.html' %}
{% block content %}
<div class="sm:ml-64 mx-auto mt-10">
    <h1 class="text-3xl font-bold mb-6">Student Presence Dashboard</h1>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-2">
        <a href="{% url 'register_student' %}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-4 px-6 rounded text-center">Register Student</a>
        <a href="{% url 'take_attendance' %}" class="bg-green-500 hover:bg-green-700 text-white font-bold py-4 px-6 rounded text-center">Take Attendance</a>
        <a href="{% url 'attendance_records' %}" class="bg-gray-500 hover:bg-gray-700 text-white font-bold py-4 px-6 rounded text-center">View Attendance Records</a>
    </div>
</div>
{% endblock %}